{% extends 'phpcontent.html' %}


{% block seotag %}
                        
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        <meta name="keywords" content="HTML, CSS, JavaScript, php, python, c"/>
                        <meta name="author" content="Ankit"/>
                        <link rel="icon" href="/img/hacker.jpg"/>
						<link rel="stylesheet" href="/static/pagephp.css">
{% endblock seotag %}


{% block contentb %}

<div class="row">

    <div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">

                
        <main class="maincss">

            <div class="div2 "><!-- scrollbar scrollbar-black bordered-black square thin -->
 				<div class="force-overflow">
				<div class="div22">
					<div class="div2a">
						
						<h1 class="display-6 mt-4 mb-3">Arrays | PHP</h1>
						

					<!-- /////////////////////////////////////////Arrays/////////// -->


						<h2 class="h2css ">Arrays syntax </h2>
						<p class="pcss">Arrays is use for pack function in content, and use in required and manegement </p>
						<div class="colorplate my-4 p-3">
							
							<div class="tttt">
								<div class="propcss">
									 

										<div class="propcss">
										 <span class="a3phpcolor">&lt;<span><span class="a3phpcolor">?php</span>
										</div>

										<div class="propcss"> 

											<br>
											<div class="gray">//type of arrays </div> 
											<br>
											<div class="gray">// 1) Index arrays;</div>
											<div class="gray">// 2) Associative arrays ;</div> 
											<div class="gray">// 3) Multidimensional arrays;</div> 
											<br>
  
										</div>

										<div class="propcss">
										$<span class="propcss">india</span> = <span class="propdark">array</span>(<span class="contenttext">"delhi"</span>, <span class="contenttext">"mumbai"</span>, <span class="contenttext">"agra"</span>);<span  class="grayind">// Indexed arrays</span><br>
									</div>
<br>
											<span class="content">echo</span> " $<span class="propdark">india[1] </span>	<span>&lt;</span>br/<span>&gt;</span>";<br>
										 


									<br><br>
										<div class="propcss">
										$<span class="propcss">ass</span> = <span class="propdark">array</span>(<span class="contenttext">"hello"</span> => <span class="contenttext">"Welcome"</span>, <span class="contenttext">"next"</span> => <span class="contenttext">"back"</span>, <span class="contenttext">"beauty"</span> => <span class="contenttext">"Awesome"</span>);<span  class="gray">   // Associative arrays</span><br>
									</div>

<br>
											<span class="content">echo</span> " $<span class="propdark">india['hello'] </span>	<span>&lt;</span>br/<span>&gt;</span>";<br>
										 


													<div><br><br>
										$<span class="propcss">india</span> = <span class="propdark">array</span>(

										
										<div>
										 <span style="padding-left:  100px;" class="propdark">array</span>(<span class="contenttext">"delhi"</span>, <span class="contenttext">"mumbai"</span>, <span class="contenttext">"agra"</span>,
										<br> <span style="padding-left:  100px;" class="propdark">array</span>(<span class="contenttext">"delhi"</span>, <span class="contenttext">"mumbai"</span>, <span class="contenttext">"agra"</span>,




										<span class="propcss">)</span><span class="whitecontent">;</span>
									</div> 
										<span class="propcss">)</span><span class="whitecontent">;</span><span  class="gray">// Multidimensional arrays</span><br>
									</div>
<br>

										<div class="propcss">
											<span class="a3phpcolor" >?</span><span><span class="a3phpcolor">&gt;</span></span><br>
										</div>


								</div>
							</div>
							
						</div>
 
					
					<div class="div2b">
						
					</div>
				</div>

				<footer class="footercss">
					

				</footer>
			</div>
				
				
		</div>

		
		
	    </main>
 

            
    </div>

    <div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">
    </div>

</div>

{% endblock contentb %}

