{% extends 'phpcontent.html' %}


{% block seotag %}
                        
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        <meta name="keywords" content="HTML, CSS, JavaScript, php, python, c"/>
                        <meta name="author" content="Ankit"/>
                        <link rel="icon" href="/img/hacker.jpg"/>
						<link rel="stylesheet" href="/static/pagephp.css">
{% endblock seotag %}


{% block contentb %}

<div class="row">

    <div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">

                
        <main class="maincss">

		<div class="div2 "><!-- scrollbar scrollbar-black bordered-black square thin -->
 				<div class="force-overflow">
				<div class="div22">
					<div class="div2a">
						
						<h1 class="display-6 my-5">Function | PHP</h1>
						<h2 class="h2css my-2">function in php</h2>
						<p class="pcss">function write than use of any position. it is required for button |  Function</p>
						<div class="colorplate my-4 p-3">
							
							<div class="tttt">
								<div class="">
									 

										<div class="propcss">
										 <span class="">&lt;<span><span class="a3phpcolor">?php</span>
										</div>

										<div class="propvaritake">
  												<!-- string -->

											<br><span class="propdark">function</span> <span class="propcss">sum</span>() {<span class="colortexta3"></span> <br>
 
  											
 
											<br><span class="colortexta3"></span> <span class="gray">&nbsp;&nbsp;&nbsp;&nbsp;// execute program</span><br>



											<br><span>}</span><br>

											<span class="propcss">sum()</span>;
	 
										<br>
 									</div>

										
										<div class="propcss">
											<span class="a3phpcolor" >?</span><span><span class="a3phpcolor">&gt;</span></span><br>
										</div>


								</div>
							</div>
							
						</div>
						<!-- /////////////////////////////////////////function/////////// -->


						<h2 class="h2css">function in php</h2>
						<p class="pcss">function write than use of any position. it is required for button |  Function</p>
						<div class="colorplate my-4 p-3">
							
							<div class="tttt tttt2">
								<div class="codetexta4">
									 

										<div class="propcss">
										 <span class="a3phpcolor">&lt;<span><span class="a3phpcolor">?php</span>
										</div>

										<div class="boxphp">
  												<!-- string -->

											<br><span class="propdark">function</span> <span class="propcss">sum() {</span><span class="colortexta3"></span> <br>
 
 
											<br>&nbsp;&nbsp;&nbsp;&nbsp; <span class="propcss">$</span><span class="propcss">a</span><span class="whitecontent">=</span><span class="contenttext">"</span><span class="contenttext">this is cheack second string</span><span class="contenttext">"</span><span class="whitecontent">;</span><span  class="gray">// string</span><br>
	
 																		<!-- string -->
											&nbsp;&nbsp;&nbsp;&nbsp; <span class="propcss">$</span><span class="propcss">b</span><span class="whitecontent">=</span><span class="contenttext">"</span><span class="contenttext">this is cheack length hello this string</span> <span class="contenttext">"</span><span class="whitecontent">;</span><span  class="gray">// string</span><br>

											<br>
											<span class="propcss">&nbsp;&nbsp;&nbsp;&nbsp;echo </span><span class="contenttext">"</span><span class="propcss">$</span><span class="propcss">a</span>   <span class="contenttext">&lt;</span><span class="contenttext">br/</span><span class="contenttext">&gt;</span> <span class="contenttext">"</span><span class="whitecontent">;</span><br>
 

											<br>
											<span class="propcss">&nbsp;&nbsp;&nbsp;&nbsp;echo </span><span class="contenttext">"</span><span class="propcss">$</span><span class="propcss">b</span> <span class="contenttext">&lt;</span><span class="contenttext">br/</span><span class="contenttext">&gt;</span> <span class="contenttext">"</span><span class="whitecontent">;</span><br>
  


											<br><span>}</span><br>

											<span class="propcss">sum()</span><span class="whitecontent">;</span>
	 
										<br>
 									</div>

										
										<div class="propcss">
											<span class="a3phpcolor" >?</span><span><span class="a3phpcolor">&gt;</span></span><br>
										</div>


								</div>
							</div>
							
						</div>
 {% comment %}  {% endcomment %}
					</div>
				
				</div>

			</div>
				
				
		</div>
		
		
	</main>
 

            
    </div>

    <div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">
    </div>

</div>

{% endblock contentb %}

