{% extends 'phpcontent.html' %}


{% block seotag %}
                        
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        <meta name="keywords" content="HTML, CSS, JavaScript, php, python, c"/>
                        <meta name="author" content="Ankit"/>
                        <link rel="icon" href="/img/hacker.jpg"/>
						<link rel="stylesheet" href="/static/pagephp.css">
{% endblock seotag %}


{% block contentb %}

<div class="row">

    <div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">

                
        <main class="maincss">

    <div class="div2 "><!-- scrollbar scrollbar-black bordered-black square thin -->
 				<div class="force-overflow">
				<div class="div22">
					<div class="">
						
						<h1 class="display-6">Switch | PHP</h1>
						
						<!-- /////////////////////////////////////////function/////////// -->


						<h2 class="h2css"> Switch syntax | php </h2>
						<p class="pcss">switch many function include in one switch and awesome benifites.</p>
						<div class="colorplate my-5 p-3">
							
							<div class="tttt ">
								<div class="propcss">
									 

										<div class="propcss">
										 <span class="a3phpcolor">&lt;<span><span class="a3phpcolor">?php</span>
										</div>

										<div class="boxphp">
  												<!-- string -->

											<br><span class="purple"></span> <span class="propdark">switch</span>(variable) {<span class="colortexta3"></span> <br>
 
 											<br><span>&nbsp;&nbsp;&nbsp;&nbsp;case 'value':</span>
											<br><span class="colortexta3"></span>  

											<span class="gray">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# code...</span>
 
											<br><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break;</span>

												<br>

 											<br><span>&nbsp;&nbsp;&nbsp;&nbsp;case 'value':</span>
											<br><span class="colortexta3"></span>  

											<span class="gray">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# code...</span>
 
											<br><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break;</span><br><br>



 											<br><span>&nbsp;&nbsp;&nbsp;&nbsp;case 'value':</span>
											<br><span class="colortexta3"></span>  

											<span class="gray">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# code...</span>
 
											<br><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break;</span>

											<br><br>  


 											<br><span>&nbsp;&nbsp;&nbsp;&nbsp;default:</span>
											<br><span class="colortexta3"></span>  

											<span class="gray">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# code...</span>
 
											<br><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break;</span>  <br>


											<br><span>}</span> 
										<br>
 									</div>

										
										<div class="propcss">
											<span class="a3phpcolor" >?</span><span><span class="a3phpcolor">&gt;</span></span><br>
										</div>


								</div>
							</div>
							
						</div>
 
				<div class="boxgap"></div>

				 
				<!-- ////////////////////////////////////////////////////////////// -->

				 
						<div class="boxgap"></div>

						<h2 class="h2css"> Switch | php </h2>
						<p class="pcss">switch many function include in one switch and awesome benifites.</p>
						<div class="colorplate my-5 p-3">
							
							<div class="tttt tttt2">
								<div class="propcss">
									 

										<div class="propcss">
										 <span class="a3phpcolor">&lt;<span><span class="a3phpcolor">?php</span>
										</div>

										<div class="boxphp">
  												<!-- string -->

  												<!-- string -->
  												<span></span><br>$<span  class="colortexta3">a</span> = 2;<span  class="gray">// int</span><br>


											<br><span class="purple"></span> <span class="propdark">switch</span>($a) {<span class="colortexta3"></span> <br>
 
 											<br><span class="propdark">&nbsp;&nbsp;&nbsp;&nbsp;case 1:</span>
											<br><span class="colortexta3"></span>  

											<span class="gray">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# code...</span><br>
											<span class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;echo</span> <span class="contenttext">"Hello !  Welcome to in my home page number 5 <span>&lt;</span>br/<span>&gt;</span>"</span><span class="whitecontent">;</span><br>
 
 
 
 
											<br><span class="propdark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break;</span>

											<br>

 											<br><span  class="propdark">&nbsp;&nbsp;&nbsp;&nbsp;case 2 :</span>
											<br><span class="colortexta3"></span>  

											<span class="gray">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# code...</span><br>
 												
											<span class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;echo</span> <span class="contenttext">"Hello !  Welcome to in my home page number 5 <span>&lt;</span>br/<span>&gt;</span>"</span><span class="whitecontent">;</span><br>
 
 
 
											<br><span class="propdark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break;</span>

											<br>

 											<br><span  class="propdark">&nbsp;&nbsp;&nbsp;&nbsp;case 3 :</span>
											<br><span class="colortexta3"></span>  

											<span class="gray">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# code...</span><br>


											<span class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;echo</span> <span class="contenttext">"Hello !  Welcome to in my home page number 5 <span>&lt;</span>br/<span>&gt;</span>"</span><span class="whitecontent">;</span><br>
 
 
 
 
											<br><span class="propdark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break;</span>

											<br><br>  


 											<br><span  class="propdark">&nbsp;&nbsp;&nbsp;&nbsp;case 4 :</span>
											<br><span class="colortexta3"></span>  

											<span class="gray">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# code...</span><br>
											<span class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;echo</span> <span class="contenttext">"Hello !  Welcome to in my home page number 5 <span>&lt;</span>br/<span>&gt;</span>"</span><span class="whitecontent">;</span><br>
 
 
 
 
											<br><span class="propdark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break;</span>

											<br> 


 											<br><span  class="propdark">&nbsp;&nbsp;&nbsp;&nbsp;case 5:</span>
											<br><span class="colortexta3"></span>  

											<span class="gray">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# code...</span><br>
											<span class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;echo</span> <span class="contenttext">"Hello !  Welcome to in my home page number 5 <span>&lt;</span>br/<span>&gt;</span>"</span><span class="whitecontent">;</span><br>
 
 
 
											<br><span class="propdark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break;</span>

											<br><br>  


 											<br><span  class="propdark">&nbsp;&nbsp;&nbsp;&nbsp;default:</span>
											<br><span class="colortexta3"></span>  

											<span class="gray">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# code...</span><br>
											
											<span class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;echo</span> <span class="contenttext"> "Hello !  Welcome to in my home page	<span>&lt;</span>br/<span>&gt;</span>"</span>;<br>
 
 
											<br><span class="propdark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break;</span>  


											<br><span>}</span> 
										<br>
 									</div>

										
										<div class="propcss">
											<span class="a3phpcolor" >?</span><span><span class="a3phpcolor">&gt;</span></span><br>
										</div>


								</div>
							</div>
							
						</div>
 
				<div class="boxgap"></div>
<!-- ////////////////////////////////////////////////////////////////////////// -->

					</div>
					
					
				</div>

			</div>
				
				
		</div>
		
	    </main>
 

            
    </div>

    <div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">
    </div>

</div>

{% endblock contentb %}

