{% extends 'phpcontent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        <meta name="keywords" content="HTML, CSS, JavaScript, php, python, c"/>
                        <meta name="author" content="Ankit"/>
                        <link rel="icon" href="/img/hacker.jpg"/>
{% endblock seotag %}


{% block contentb %}

<div class="row">

    <div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">

                
        <h2 class="h2css display-6 my-5">Variables of PHP</h2>

        <h2 class="h2css"> HTML output from server</h2>


                            <div class="colorplate p-3 my-4">
								<div class="tttt ">
									 

										<div class="pagephpdiv">
										 <span class="whitecontent">&lt;<span><span class="propcss">?php</span>
										</div>

										<div class="boxphp text-light">
											<br>

											<div class="gray17">// variables</div><br>
											$<span class="propcss">name</span> = "ankit";<span  class="gray17">// string</span><br>
											$<span  class="propcss">income</span> = 200;<span  class="gray17">// int</span><br>
											$<span class="propcss">n1</span> = 500;<span  class="gray17">// int</span><br>
											$<span  class="propcss">n2</span> = 500;<span  class="gray17">// int</span><br>
											$<span class="propcss">n3</span> = 500;<span  class="gray17">// int</span><br>
											$<span  class="propcss">n4</span> = 500;<span  class="gray17">// int</span><br>
											$<span  class="propcss">Total_month_sallery</span> = $<span class="colortexta3">n1</span>+$<span class="colortexta3">n2</span>+$<span class="colortexta3">n3</span>+$<span class="colortexta3">n4</span>	;<br>
 
											<br>
											<span class="propcss">echo</span> "this is $<span  class="colortexta3">name</span> and income is $<span  class="colortexta3">income</span> 
											and month sallery is $<span  class="colortexta3">Total_month_sallery	</span> <span>&lt;</span>br/<span>&gt;</span>  ";<br>
											<br>

											<br>
											<br>
																						<span class="propcss">echo</span> "Hello gues Welcome awesome tutorials	<span>&lt;</span>br/<span>&gt;</span>";<br>
											
																						<br>
											<br>
																						<span class="propcss">echo</span> "Hello !  Welcome to in my home page	<span>&lt;</span>br/<span>&gt;</span>";<br>
																					
											<br>
											

											<br>
											 </div>

										
										<div class="pagephpdiv">
											<span class="a3phpcolor" >?</span><span><span class="a3phpcolor">&gt;</span></span><br>
										</div>


								</div>
							</div>



            
    </div>

    <div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">
    </div>

</div>

{% endblock contentb %}

