{% extends 'pythoncontent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        <meta name="keywords" content="HTML, CSS, JavaScript, php, python, c"/>
                        <meta name="author" content="Ankit"/>
                        <link rel="icon" href="/img/hacker.jpg"/>
                        <link rel="stylesheet" href="/static/pagephp.css">
{% endblock seotag %}


{% block contentb %}

<div class="row">

    <div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">
        <h1 class="h1css display-6 my-5"> comment of PYTHON</h1>
						
						<h2 class="pcss">Single line comment and multiple_line comment |PYTHON code</h2>
						<div class="colorplate my-5 p-3">
							
							<div class="tttt">
								<div class="codetexta4">
									
									 <div class="pythonbox">
									 	<span class="gray"># this is use for single line comment</span><br> 
									 	<span class="gray">#this is use for single line comment</span><br> 
									 	<span class="gray"># this is use for single line comment</span><br> 
									 	<span class="gray"># this is use for single line comment</span><br> 
									 	<span class="gray"># this is use for single line comment</span><br>
									 	<span class="skyblue">print</span>("single line comment")<br><br>
										

										<span class="gray">'''this is use for many lines comment</span><br> 
									 	<span class="gray"> for purpose many long line comment</span><br> 
									 	<span class="gray">multiline comment"""</span><br>  
									 	<span class="skyblue">print</span>("multiple_line comment")<br>
														

										<span class="gray">"""this is use for many lines comment</span><br> 
									 	<span class="gray"> for purpose many long line comment</span><br> 
									 	<span class="gray">multiline comment"""</span><br>  
									 	<span class="skyblue">print</span>("multiple_line comment")<br>

									 	
									 </div>
									
								</div>
							</div>
							
						</div>


    </div>

    <div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">

    </div>
</div>

{% endblock contentb %}

