{% extends 'pythoncontent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        <meta name="keywords" content="HTML, CSS, JavaScript, php, python, c"/>
                        <meta name="author" content="Ankit"/>
                        <link rel="icon" href="/img/hacker.jpg"/>
                        
						<link rel="stylesheet" href="/static/pagephp.css">
{% endblock seotag %}


{% block contentb %}

<div class="row">

    <div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">
        <h1 class="h1css display-6 my-5">Operators in PYTHON</h1>
						

  				<div class="box_text">
  					<p class="pcssa">Divides of operators</p>
  					<p class="pascc"># Arithmetic operators</p>
  					<p class="pascc"># Assignment operators</p>
  					<p class="pascc"># Comparision operators</p>
  					<p class="pascc"># Logical operators</p>
  					<p class="pascc"># Identity operators</p>
  					<p class="pascc"># Membership operators</p>
  					<p class="pascc"># Bitwise operators</p>
  					
  				</div>


				<div class="boxgap"></div>


<div class="boxgap"></div>
				<div class="boxgap"></div>
				<div class="boxgap"></div>
						<div class="boxgap">
							
						</div>
						<h2 class="h2css">Arithmetic operators</h2>
						 
							
					 	<div class="operators_Css">
					 		<div class="boxoperators_Css">
					 			<div class="gridinphp"> 
					 				 <div class="boxgrid1">
					 				 	<h1>Name</h1>
					 				 	<h1>Operators</h1>
					 				 	<h1>syntax</h1>
					 				 </div>

					 				  <div class="boxgrid2">
					 				 	<h1>Sum</h1>
					 				 	<h1>+</h1>
					 				 	<h1> a + b </h1>
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1>Substract</h1>
					 				 	<h1> - </h1>
					 				 	<h1> a - b </h1>
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1>Multiply</h1>
					 				 	<h1> * </h1>
					 				 	<h1> a * b</h1>
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1>Division</h1>
					 				 	<h1> / </h1>
					 				 	<h1> a ** b</h1>
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1>Modulus</h1>
					 				 	<h1> % </h1>
					 				 	<h1> a % b</h1>
					 				 </div>
					 				  <div class="boxgrid2">
					 				 	<h1>Exponentiation</h1>
					 				 	<h1> ** </h1>
					 				 	<h1> a ** b</h1>
					 				 </div> 

					 				  <div class="boxgrid2">
					 				 	<h1>Floor Division</h1>
					 				 	<h1> // </h1>
					 				 	<h1> a // b</h1>
					 				 </div>

					 			</div>
					 			
					 		</div>
					 	</div>
 
				<div class="boxgap"></div><div class="boxgap"></div>
				<div class="boxgap"></div>
				<div class="boxgap"></div>

				<!-- /////////////////////////////////assgnment operators///////////////////// -->


						<div class="boxgap">
							
						</div>
						<h2 class="h2css">Assignment operators</h2>
						 
							
					 	<div class="operators_Css">
					 		<div class="boxoperators_Css">
					 			<div class="gridinphp"> 
					 				 <div class="boxgrid1">
					 				 	<h1>operator</h1>
					 				 	<h1>syntax</h1>
					 				 	<h1>same as</h1>
					 				 </div>

					 				  <div class="boxgrid2">
					 				 	<h1>=</h1>
					 				 	<h1>a = 5</h1>
					 				 	<h1> a = b </h1>
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1>+=</h1>
					 				 	<h1>b += 3</h1>
					 				 	<h1>a = a + 3</h1>
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1>-=</h1>
					 				 	<h1>c -= 5</h1>
					 				 	<h1> a = a - 5</h1>
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1>*=</h1>
					 				 	<h1>a *= 3</h1>
					 				 	<h1> a = a * 3</h1>
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1>/=</h1>
					 				 	<h1>a /= 6</h1>
					 				 	<h1> a = a / 6</h1>
					 				 </div>
					 				  <div class="boxgrid2">
					 				 	<h1>%=</h1>
					 				 	<h1>a %= 2</h1>
					 				 	<h1> a = a % 2</h1>
					 				 </div> 

					 				  <div class="boxgrid2">
					 				 	<h1>//=</h1>
					 				 	<h1>a //= 4</h1>
					 				 	<h1> a = a // 4</h1>
					 				 </div> 

					 				  <div class="boxgrid2">
					 				 	<h1>**=</h1>
					 				 	<h1>a **= 8</h1>
					 				 	<h1> $a %= $b</h1>
					 				 </div> 

					 				  <div class="boxgrid2">
					 				 	<h1>&=</h1>
					 				 	<h1>a &= 5</h1>
					 				 	<h1> $a %= 3</h1>
					 				 </div>

					 				 <div class="boxgrid2">
					 				 	<h1>|=</h1>
					 				 	<h1>a |= 3</h1>
					 				 	<h1> a = a % 3</h1>
					 				 </div>

					 				 <div class="boxgrid2">
					 				 	<h1>^=</h1>
					 				 	<h1>a ^= 4</h1>
					 				 	<h1> a = a % 4</h1>
					 				 </div>

					 				 <div class="boxgrid2">
					 				 	<h1>>>=</h1>
					 				 	<h1>a >>= 10</h1>
					 				 	<h1> a = a % 10</h1>
					 				 </div>

					 				 <div class="boxgrid2">
					 				 	<h1><<=</h1>
					 				 	<h1>a <<= 5</h1>
					 				 	<h1> a = a % 5</h1>
					 				 </div> 
					 			</div>
					 			
					 		</div>
					 	</div>
 
				<div class="boxgap"></div>
				<div class="boxgap"></div>
				<div class="boxgap"></div>

				<!-- /////////////////////////////////Comparison operators///////////////////// -->


						<div class="boxgap">
							
						</div>
						<h2 class="h2css">Comparison operators</h2>
						 
							
					 	<div class="operators_Css">
					 		<div class="boxoperators_Css">
					 			<div class="gridinphp"> 
					 				 <div class="boxgrid1">
					 				 	<h1>operator</h1>
					 				 	<h1>Name</h1>
					 				 	<h1>syntax</h1>
					 				 </div>

					 				  <div class="boxgrid2">
					 				 	<h1> ==</h1>
					 				 	<h1> Equal </h1>
					 				 	<h1> a = b </h1>
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1>!=</h1>
					 				 	<h1>Not equal</h1>
					 				 	<h1> a != b</h1>
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1>></h1>
					 				 	<h1> Greater than</h1>
					 				 	<h1> a > b</h1>
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1><</h1>
					 				 	<h1> Less than </h1>
					 				 	<h1> a < b </h1>
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1>>=</h1>
					 				 	<h1> Greater than or equal to </h1>
					 				 	<h1> a>=b</h1>
					 				 </div>
					 				  <div class="boxgrid2">
					 				 	<h1><=</h1>
					 				 	<h1>Less than or equal to</h1>
					 				 	<h1> a<=b</h1>
					 				 </div> 
					 			</div>
					 			
					 		</div>
					 	</div>
 
				<div class="boxgap"></div><div class="boxgap"></div>
				<div class="boxgap"></div>
				<div class="boxgap"></div>

				<!-- /////////////////////////////////Increament & Decreament operators///////////////////// -->


						<div class="boxgap">
							
						</div>
						<h2 class="h2css"> Logical operators</h2>
						 
							
					 	<div class="operators_Css">
					 		<div class="boxoperators_Css">
					 			<div class="gridinphp"> 
					 				 <div class="boxgrid1">
					 				 	<h1>Name</h1>
					 				 	<h1>syntax</h1>
					 				 	<h1>Discribe</h1>
					 				 </div>

					 				  <div class="boxgrid2">
					 				 	<h1> pre-increment</h1>
					 				 	<h1> ++$x </h1>
					 				 	<h1> increment value, than return $x </h1>
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1>Post-increment</h1>
					 				 	<h1> $x++ </h1>
					 				 	<h1> return value, than increment</h1>
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1>pre-Decrement</h1>
					 				 	<h1> --$x </h1>
					 				 	<h1> decrement value, than return </h1>
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1> post-Decrement</h1>
					 				 	<h1> $x-- </h1>
					 				 	<h1> return value, than decrement</h1>
					 				 </div>
					 				  
					 			</div>
					 			
					 		</div>
					 	</div>
 
				<div class="boxgap"></div><div class="boxgap"></div>
				<div class="boxgap"></div>
				<div class="boxgap"></div>
				<div class="boxgap"></div>
 


				<!-- /////////////////////////////////Logical operators and , or , xor///////////////////// -->


						<div class="boxgap">
							
						</div>
						<h2 class="h2css"> Identity operators</h2>
						 
							
					 	<div class="operators_Css">
					 		<div class="boxoperators_Css">
					 			<div class="gridinphp"> 
					 				 <div class="boxgrid1">
					 				 	<h1>Discribe</h1>
					 				 	<h1>Symble</h1>
					 				 	<h1>syntax</h1>
					 				 </div>

					 				  <div class="boxgrid2">
					 				 	<h1> both value correct than true </h1>
					 				 	<h1> and </h1>
					 				 	<h1> $a and $b </h1>
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1>any true in both value than true</h1>
					 				 	<h1> or </h1>
					 				 	<h1>$a or $b</h1>
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1>Any value true in both side than true</h1>
					 				 	<h1> xor </h1>
					 				 	<h1> $x xor $y </h1>
					 				 </div>
					 				  
					 				  
					 			</div>
					 			
					 		</div>
					 	</div>
 
				<div class="boxgap"></div><div class="boxgap"></div>
				<div class="boxgap"></div>
				<div class="boxgap"></div>
				<div class="boxgap"></div>


				<!-- /////////////////////////////////string operators $txt1. $txt2///////////////////// -->


						<div class="boxgap">
							
						</div>
						<h2 class="h2css">Membership operators</h2>
						 
							
					 	<div class="operators_Css">
					 		<div class="boxoperators_Css">
					 			<div class="gridinphp"> 
					 				 <div class="boxgrid1">
					 				 	<h1>Discribe</h1>
					 				 	<h1>Symble</h1>
					 				 	<h1>syntax</h1>
					 				 </div>

					 				  <div class="boxgrid2">
					 				 	<h1> Concatenation </h1>
					 				 	<h1>  . </h1>
					 				 	<h1> $txt1.$txt2 </h1>
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1>Concatenation assignment</h1>
					 				 	<h1> .= </h1>
					 				 	<h1>$a .= $b</h1>
					 				 </div>
					 				  
					 			</div>
					 			
					 		</div>
					 	</div>
 <div class="boxgap"></div>
				<div class="boxgap"></div>
				<div class="boxgap"></div>
				<div class="boxgap"></div>


				<!-- ///////////////////////////////// Array operators Union of $x and $y (array Comparison)///////////////////// -->


						<div class="boxgap">
							
						</div>
						<h2 class="h2css"> Bitwise operators </h2>
						 
							
					 	<div class="operators_Css">
					 		<div class="boxoperators_Css">
					 			<div class="gridinphp"> 
					 				 <div class="boxgrid1">
					 				 	<h1>Operator</h1>
					 				 	<h1>Name</h1>
					 				 	<h1>syntax</h1>
					 				 	<!-- <h1>Describe</h1> -->
					 				 </div>

					 				  <div class="boxgrid2">
					 				 	<h1> + </h1>
					 				 	<h1> Union </h1>
					 				 	<h1> $a + $b </h1>
					 				 	<!-- <h1> Union of $x & $y </h1> -->
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1> == </h1>
					 				 	<h1> Equality </h1>
					 				 	<h1>$a == $b</h1>
					 				 	<!-- <h1> Returns true if $x and $y have the same key/value pairs</h1> -->
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1> === </h1>
					 				 	<h1> Identity </h1>
					 				 	<h1> $a === $b</h1>
					 				 	<!-- <h1> Returns true if $x and $y have the same key/value</h1> -->
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1> != </h1>
					 				 	<h1> Inequality </h1>
					 				 	<h1> $a != $b</h1>
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1> &lt;&gt;</h1>
					 				 	<h1> Inequality </h1>
					 				 	<h1> $a &lt;&gt; $b</h1>
					 				 </div>
					 				  <div class="boxgrid2">
					 				 	<h1> !== </h1>
					 				 	<h1> Non-identity </h1>
					 				 	<h1> $a !== $b</h1>
					 				 </div>
					 				    
					 			</div>
					 			
					 		</div>
					 	</div>
 
				<div class="boxgap"></div><div class="boxgap"></div>
				<div class="boxgap"></div>
				<div class="boxgap"></div>

						<!-- ///////////////////////////////// Conditional assignment operators///////////////////// -->


						<div class="boxgap">
							
						</div>
						<h2 class="h2css"> Conditional assignment operators </h2>
						 
							
					 	<div class="operators_Css">
					 		<div class="boxoperators_Css">
					 			<div class="gridinphp"> 
					 				 <div class="boxgrid1">
					 				 	<h1>Operator</h1>
					 				 	<h1>Name</h1>
					 				 	<h1>syntax</h1>
					 				 	<!-- <h1>Describe</h1> -->
					 				 </div>

					 				  <div class="boxgrid2">
					 				 	<h1> ?: </h1>
					 				 	<h1> Ternary </h1>
					 				 	<h1> $a = expr1? expr2: expr3 $b </h1>
					 				 	<!-- <h1> Union of $x & $y </h1> -->
					 				 </div>
					 				 <div class="boxgrid2">
					 				 	<h1> ?? </h1>
					 				 	<h1> Null coalescing </h1>
					 				 	<h1>$a expr1?? expr2 $b</h1>
					 				 	<!-- <h1> Returns true if $x and $y have the same key/value pairs</h1> -->
					 				 </div>
					 				  
					 			</div>
					 			
					 		</div>
					 	</div>
    </div>

    <div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">

    </div>
</div>

{% endblock contentb %}

