{% extends 'pythoncontent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        <meta name="keywords" content="HTML, CSS, JavaScript, php, python, c"/>
                        <meta name="author" content="Ankit"/>
                        <link rel="icon" href="/img/hacker.jpg"/>
{% endblock seotag %}


{% block contentb %}

<div class="row">

    <div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">
        <h1 class="h1css display-6 my-5">String of PYTHON</h1>
						
						<h2 class="h2css">String | PYTHON code</h2>
						<div class="colorplate my-5 p-3">
							
							<div class="tttt">
								<div class="codetexta4">
									
									 <div class="propcss">
									 	<span class="skyblue">a</span> = <span>"Hello Welcome to my home page. this write string"</span><br><br>
									 	<span class="skyblue">print</span><span>(</span>a<span>)</span>;
									 	
									 </div>
									
								</div>
							</div>
							
						</div>


					
    </div>

    <div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">

    </div>
</div>

{% endblock contentb %}

