{% extends 'pythoncontent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        <meta name="keywords" content="HTML, CSS, JavaScript, php, python, c"/>
                        <meta name="author" content="Ankit"/>
                        <link rel="icon" href="/img/hacker.jpg"/>
{% endblock seotag %}


{% block contentb %}

<div class="row">

    <div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">
        <h1 class="h1css display-6 my-5"> variable of PYTHON</h1>
						
						
						<h2 class="pcss">PYTHON code</h2>
						<div class="colorplate my-5 p-3">
							<div class="tttt">
								<div class="propcss">
									
									 <div class="pythonbox">
									 	<span class="skyblue">print</span>("Hello World!")<br> 

									 	
									 </div>
									
								</div>
							</div>
							
						</div>


						<!-- <h2 class="h2css"> code</h2> -->
						<h2 class="pcss">PYTHON code</h2>
						<div class="colorplate my-5 p-3">
							<div class="tttt tttt2">
								<div class="propcss">
									
									 <div class="propcss"> 
									 	<span class="gray" ># variables</span><br>
									 	<span class="skyblue">a</span> = <span>"Welcome"</span><br>
									 	<span class="skyblue">b</span> = <span>"Take care"</span><br>
									 	<span class="skyblue">d</span> = <span>5</span><br>
									 	<span class="skyblue">e</span> = <span>24</span><br>
									 	<span class="skyblue">print</span>(a)<br>
									 	<span class="skyblue">print</span>(b)<br>
									 	<span class="skyblue">print</span>(d+e)<br>


									 	
									 </div>
									
								</div>
							</div>
							
						</div>

							
    </div>

    <div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">

    </div>
</div>

{% endblock contentb %}

