{% extends 'pythoncontent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        <meta name="keywords" content="HTML, CSS, JavaScript, php, python, c"/>
                        <meta name="author" content="Ankit"/>
                        <link rel="icon" href="/img/hacker.jpg"/>
{% endblock seotag %}


{% block contentb %}

<div class="row">

    <div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">
        <h1 class="h1css display-6 my-5"> while loop of PYTHON</h1>
					
						<h2 class="pcss">while loop code</h2>
						<div class="colorplate my-5 p-3">
						
							<div class="tttt">
								<div class="propcss">
									
											
									 <div class="pythonbox"> 
									 	<span class="gray" ># while_loop</span><br>
									 	<span class="propdark">while</span> <span> (True): </span> <br>
									 	<div>
									 		<span class=" gray"># infinity loop</span>
									 	</div>
									 	<div><span class=" propdark"> &nbsp;  &nbsp;   &nbsp; &nbsp; &nbsp;  print</span><span>("Hello World!")</span></div>
									 			
									 	
									 	



									 	
									 </div>
									
									
								</div>
							</div>
							
						</div>


						
						<h2 class="pcss">while loop range </h2>
						<div class="colorplate my-5 p-3">
					
							<div class="tttt tttt2">
								<div class="codetexta4">
									
											
									 <div class="pythonbox"> 
									 	<span class="gray" ># while_loop</span><br>
									 	<span class="propdark">a</span><span class="propcss">=</span><span class="propcss">5</span><br>
									 	<span class="propdark">while</span> <span class="propcss"> (a<20): </span> <br>
									 	<span class=" gray"> &nbsp;  &nbsp;   &nbsp; &nbsp; &nbsp; # 5 to 20 loop</span><br>
									 	<span class=""><span class="propdark"> &nbsp;  &nbsp;   &nbsp; &nbsp; &nbsp; print</span><span  class="propcss">("Hello World!", a)</span></span><br>
									 	<span class=""><span class="propdark"> &nbsp;  &nbsp;   &nbsp; &nbsp; &nbsp; a</span><span  class="propcss">+=1</span></span>



									 	
									 </div>
									
									
								</div>
							</div>
							
						</div>


							
    </div>

    <div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">

    </div>
</div>

{% endblock contentb %}

