{% extends 'javascriptcontent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        <meta name="keywords" content="HTML, CSS, JavaScript, php, python, c"/>
                        <meta name="author" content="Ankit"/>
                        <link rel="icon" href="/img/hacker.jpg"/>
{% endblock seotag %}


{% block contentb %}

<div class="row">

    <div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">
    
        
    <h2 class="h2css my-5 display-5">Comments</h2>

    <h2 class="h2css"> Single Line Comment</h2>
    <div class="colorplate my-4 p-3">
    <div class="tttt  ">

    <p class="">
        <span style="color: gray">// this is hello line Comment. use for Single line comment</span><br>
        <span class="propcss">var</span>
        <span class="">&nbsp;</span>
        <span class="whitecontent">happy=</span>
        <span class="contenttext">"Awesome"</span>
        <span class="propcss">;</span><br>


        <span class="propcss">console.log(</span>
        <span class="contenttext">happy</span>
        <span class="propcss">);</span>
    </p>


    </div>
    </div>

    <p>Console output:</p>
    <div class="outputbox my-3">
    <p class="pcss">Awesome</p>
    </div>

{% comment %} ////////////////////////////////////////////// {% endcomment %}
    
    <h2 class="h2css my-3"> Multiple Line Comment</h2>
    <div class="colorplate my-4">
    <div class="tttt p-3">

    <p class="">
        <span style="color: gray">/* this is Multiple Line Comment. </span><br>
        <span style="color: gray"> Use for some paragraph or code ignor </span><br>
        <span style="color: gray"> Use can many line comment*/ </span><br><br>
        <span class="propcss">var</span>
        <span class="">&nbsp;</span>
        <span class="whitecontent">Multiple=</span>
        <span class="contenttext">"ManyLine"</span>
        <span class="propcss">;</span><br>


        <span class="propcss">console.log(</span>
        <span class="contenttext">Write this line code print</span>
        <span class="propcss">);</span>
    </p>


    </div>
    </div>

    <p>Console output:</p>
    <div class="outputbox my-3">
    <p class="pcss">Write this line code print</p>
    </div>


    </div>

    <div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">

    </div>
</div>


{% endblock contentb %}

