{% extends 'javascriptcontent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        
{% endblock seotag %}


{% block contentb %}

<div class="row">

    <div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">
            <div class="my-5">
                            <h6 class="display-6"> Confirm </h6>
                        </div>




                        <h2 class="h2css my-5 pt-">Use of Confirm</h2>
                        {% comment %} {/* start window */} {% endcomment %}
                        <div class="colorplate  p-3">
                            <div class="tttt  ">
                            
                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">p</span><span class="">&nbsp;</span><span class="content">class=</span><span class="contenttext">"colortext"</span><span class="textcolorwhite">&gt;</span><span class="textcontent">ClickMe</span><span class="textcolorwhite">&lt;</span><span class="variable">/p</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            </div>

                        </div>
                        {% comment %} {/* window end tag */} {% endcomment %}

                        <h2 class="h2css mt-5 mb-2">JavaScript code for Confirm</h2>
                        <p class="pcss">Pure JavaScript</p>

                        <div class="colorplate  p-3">
                            <div class="tttt tttt3">
                            
                        
                            {% comment %} {/* head start */} {% endcomment %}
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">script</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            
                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="constjs">const</span><span class="">&nbsp;</span><span class="conentvarijs">colortext = </span><span class="whitecontent">document.</span><span class="constjs">querySelector</span><span class="purple">(</span><span class="contenttext">'.colortext'</span><span class="purple">)</span><span class="whitecontent">;</span>
                            </p>

                            <p> <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="propcss">const&nbsphello&nbsp;=</span><span class="purple">&nbsp;()&nbsp;</span><span class="propcss">&nbsp;=>&nbsp;</span><span class="whitecontent">{</span><br>
                            {% comment %} console write {% endcomment %}
                            <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                             <span style="color: gray">//use of prompt</span><br>
                            


                            <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span class="propcss">window</span>
        <span class="purple">.</span>
        <span class="propvaritake">confirm(</span>
        <span class="contenttext">"Are you sure you want to delete this?"</span>
        <span class="propvaritake">);</span>
        <br><span class="whitecontent">}</span>
                            </p>

                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="whitecontent">colortext</span><span class="propcss">.addEventListener </span><span class="purple">(</span><span class="contenttext">'click'</span><span class="purple">,</span><span class="contenttext">hello</span><span class="purple">)</span><span class="propnumtake"></span><span class="whitecontent">;</span>
                            </p>
                            
                            <p class="my-1">   <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/script</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            
                            {% comment %} {/* head end */} {% endcomment %}
                            
                            </div>
                        </div>


                        <h2 class="h2css  my-5 pt-3">HTML CODE of file</h2>
                        <div class="colorplate  p-3">
                            <div class="tttt tttt2">
                            <p class="my-1"><span class="textcolorwhite">&lt;</span><span class="doctype">!DOCTYPE</span> <span class="htmlhd">&nbsp;&nbsp;&nbsp;html</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="textcolorwhite">&lt;</span><span class="variable">html</span><span class="content"> lang</span><span class="contenttext">="en"</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">body</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            
                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">p</span><span class="">&nbsp;</span><span class="content">class=</span><span class="contenttext">"colortext"</span><span class="textcolorwhite">&gt;</span><span class="textcontent">ClickMe</span><span class="textcolorwhite">&lt;</span><span class="variable">/p</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">script</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            {% comment %} onen script tag {% endcomment %}
                            
                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="constjs">const</span><span class="">&nbsp;</span><span class="conentvarijs">colortext = </span><span class="whitecontent">document.</span><span class="constjs">querySelector</span><span class="purple">(</span><span class="contenttext">'.colortext'</span><span class="purple">)</span><span class="whitecontent">;</span>
                            </p>

                            <p> <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="propcss">const&nbsphello&nbsp;=</span><span class="purple">&nbsp;()&nbsp;</span><span class="propcss">&nbsp;=>&nbsp;</span><span class="whitecontent">{</span><br>
                            {% comment %} console write {% endcomment %}
                            <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                             <span style="color: gray">//use of Confirm</span><br>
                            


                            <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span class="propcss">window</span>
        <span class="purple">.</span>
        <span class="propvaritake">confirm(</span>
        <span class="contenttext">"Are you sure you want to delete this?"</span>
        <span class="propvaritake">);</span>
{% comment %} console write {% endcomment %}<br><span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
<span class="whitecontent">}</span>
                            </p>

                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="whitecontent">colortext</span><span class="propcss">.addEventListener </span><span class="purple">(</span><span class="contenttext">'click'</span><span class="purple">,</span><span class="contenttext">hello</span><span class="purple">)</span><span class="propnumtake"></span><span class="whitecontent">;</span>
                            </p>
                            {% comment %} end script tag {% endcomment %}
                            <p class="my-1">   <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/script</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            <p class="my-1">   <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/body</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            {% comment %} {/* head end */} {% endcomment %}
                            <p class="my-1 nbspcss1"><span class="textcolorwhite">&lt;</span><span class="variable">/html</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            </div>

                        </div>
                        <div class="my-5 "></div>
                        <h3>output:</h3>
                        <div class="outputbox">
                              <p class="colortext">ClickMe</p>
                        </div>
    </div>
    {% comment %}  {% endcomment %}
    <div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">

    </div>
</div>

                    <script>
                      const colortext = document.querySelector('.colortext');

        const hello = ()  => {
             //use of Confirm
             
              window.confirm("Are you sure you want to delete this?"); 
         }

        colortext.addEventListener ('click',hello);
        </script>

{% endblock contentb %}

