{% extends 'javascriptcontent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        
{% endblock seotag %}


{% block contentb %}

<div class="row">
<style>
.createElement{
     background :   green ;
}
</style>

    <div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">
            <div class="my-5">
                            <h6 class="display-6"> CreateElement </h6>
                        </div>




                        
                        {% comment %} {/* window end tag */} {% endcomment %}


                        
                        <h2 class="h2css my-5">CSS code</h2>
                        <div class="colorplate my-3 p-3">
                            <div class="tttt ">
                                <p class="">
                                    <span class="variable">.note</span><span class="commacss">{</span><br>

                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="propcss">background</span>
                                    <span class="commacss">:</span>
                                    <span class="">&nbsp;</span>
                                    <span class="propvaritake">green</span>
                                    <span class="commacss">;</span><br>


                                    <span class="commacss">}</span>

                                        
                                    </span>
                                </p>


                            </div>
                        </div>


                        <h2 class="h2css mt-5 mb-2">JavaScript code for CreateElement</h2>
                        <p class="pcss">Pure JavaScript</p>

                        <div class="colorplate  p-3">
                            <div class="tttt tttt3">
                            
                        
                            {% comment %} {/* head start */} {% endcomment %}
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">script</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="constjs">var</span><span class="">&nbsp;</span><span class="conentvarijs">canvas = </span><span class="whitecontent">document.</span><span class="constjs">createElement</span><span class="purple">(</span><span class="contenttext">'canvas'</span><span class="purple">)</span><span class="whitecontent">;</span></p>

                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="whitecontent">&nbsp;&nbsp;&nbsp;&nbsp;canvas.</span><span class="constjs">width</span><span class="whitecontent">=</span><span class="propnumtake">500</span><span class="purple"></span><span class="whitecontent">;</span></p>
                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="whitecontent">canvas.</span><span class="constjs">height</span><span class="whitecontent">=</span><span class="propnumtake">250</span><span class="purple"></span><span class="whitecontent">;</span></p>

                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="whitecontent">&nbsp;&nbsp;&nbsp;&nbsp;document.</span><span class="contenttext">body</span><span class="propcss">.appendChild</span><span class="purple">(</script><span class="contenttext">canvas</span><span class="purple">)</span><span class="whitecontent">;</span></p>
                            
                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="whitecontent">&nbsp;&nbsp;&nbsp;&nbsp;canvas</span><span class="contenttext"></span><span class="propcss">.classList</span><span class="propcss">.add</span><span class="purple">(</script><span class="contenttext">'note'</span><span class="purple">)</span><span class="whitecontent">;</span></p>


                            <p class="my-1">   <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/script</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            
                            {% comment %} {/* head end */} {% endcomment %}
                            
                            </div>
                        </div>


                        <h2 class="h2css  my-5 pt-3">HTML CODE of file</h2>
                        <div class="colorplate  p-3">
                            <div class="tttt tttt2">
                            <p class="my-1"><span class="textcolorwhite">&lt;</span><span class="doctype">!DOCTYPE</span> <span class="htmlhd">&nbsp;&nbsp;&nbsp;html</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="textcolorwhite">&lt;</span><span class="variable">html</span><span class="content"> lang</span><span class="contenttext">="en"</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            <p class="my-1 nbspcss1"><span class="textcolorwhite">&lt;</span><span class="variable">style</span><span class="textcolorwhite">&gt;</span>
                            </p>

                             <p class="">
                                    <span class="variable">.note</span><span class="commacss">{</span><br>

                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="propcss">background</span>
                                    <span class="commacss">:</span>
                                    <span class="">&nbsp;</span>
                                    <span class="propvaritake">green</span>
                                    <span class="commacss">;</span><br>


                                    <span class="commacss">}</span>

                                        
                                    </span>
                                </p>
                            
                            <p class="my-1 nbspcss1"><span class="textcolorwhite">&lt;</span><span class="variable">/style</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">body</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            
                            
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">script</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            {% comment %} onen script tag {% endcomment %}
                            
                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="constjs">var</span><span class="">&nbsp;</span><span class="conentvarijs">canvas = </span><span class="whitecontent">document.</span><span class="constjs">createElement</span><span class="purple">(</span><span class="contenttext">'canvas'</span><span class="purple">)</span><span class="whitecontent">;</span></p>

                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="whitecontent">&nbsp;&nbsp;&nbsp;&nbsp;canvas.</span><span class="constjs">width</span><span class="whitecontent">=</span><span class="propnumtake">500</span><span class="purple"></span><span class="whitecontent">;</span></p>
                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="whitecontent">canvas.</span><span class="constjs">height</span><span class="whitecontent">=</span><span class="propnumtake">250</span><span class="purple"></span><span class="whitecontent">;</span></p>

                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="whitecontent">&nbsp;&nbsp;&nbsp;&nbsp;document.</span><span class="contenttext">body</span><span class="propcss">.appendChild</span><span class="purple">(</script><span class="contenttext">canvas</span><span class="purple">)</span><span class="whitecontent">;</span></p>
                            
                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="whitecontent">&nbsp;&nbsp;&nbsp;&nbsp;canvas</span><span class="contenttext"></span><span class="propcss">.classList</span><span class="propcss">.add</span><span class="purple">(</script><span class="contenttext">'note'</span><span class="purple">)</span><span class="whitecontent">;</span></p>
                            

                            {% comment %} end script tag {% endcomment %}
                            <p class="my-1">   <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/script</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            <p class="my-1">   <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/body</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            {% comment %} {/* head end */} {% endcomment %}
                            <p class="my-1 nbspcss1"><span class="textcolorwhite">&lt;</span><span class="variable">/html</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            </div>

                        </div>
                        <div class="my-5 "></div>
                        <h3>output:</h3>
                        <div class="outputbox">
                              <p class="colortext ">ClickMe</p>
                              <canvas class="createElement">
                              
                              </canvas>
                        </div>
    </div>
    {% comment %}  {% endcomment %}
    <div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">

    </div>
</div>

                    <script>
                      const colortext = document.querySelector('.colortext');

        const hello = ()  => {
             //use of Confirm
             
              window.confirm("Are you sure you want to delete this?"); 
         }

        colortext.addEventListener ('click',hello);
        </script>

{% endblock contentb %}

