{% extends 'javascriptcontent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        <meta name="keywords" content="HTML, CSS, JavaScript, php, python, c"/>
                        <meta name="author" content="Ankit"/>
                        <link rel="icon" href="/img/hacker.jpg"/>
{% endblock seotag %}


{% block contentb %}

<div class="row">

    <div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">

                
        <h2 class="h2css display-6 my-5">Getting started with JavaScript</h2>

        <h2 class="h2css"> Using console.log()</h2>

        <div class="colorplate my-4">
        <div class="tttt p-3">

        <p class="">
        <span class="propcss">console.log(</span>
        <span class="contenttext">"Hello World!"</span>
        <span class="propcss">);</span>
        </p>

        </div>
        </div>

        <p>Console output:</p>
        <div class="outputbox">
        <p class="pcss">Hello World!</p>
        </div>



        <h2 class="h2css mt-5"> Using console.document()</h2>

        <div class="colorplate my-4">
        <div class="tttt tttt2 p-3">

        <p class="">
        <span class="propcss">console.document(</span>
        <span class="contenttext">"Hello World!"</span>
        <span class="propcss">);</span>
        </p>

        </div>
        </div>

        
        <p> console.document print of document broweser windows Console output: </p>
        <div class="outputbox">
        <p class="pcss">Hello World!</p>
        </div>


            
    </div>

    <div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">
    </div>

</div>


{% endblock contentb %}

