{% extends 'javascriptcontent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        <meta name="keywords" content="HTML, CSS, JavaScript, php, python, c"/>
                        <meta name="author" content="Ankit"/>
                        <link rel="icon" href="/img/hacker.jpg"/>
{% endblock seotag %}


{% block contentb %}

<div class="row">

    <div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">
        
    <h2 class="h2css my-5 display-6">Variable</h2>

    <h2 class="h2css"> Use of var, let, const</h2>
    <p class="pcss"> var, let, const is variable. var and let use for sample variable used. const variable use for constant VARIABLES.</p>
    <div class="colorplate my-4">
    <div class="tttt p-3">

    <p class="">
        <span style="color: gray">//use of var</span><br>
        <span class="propcss">var</span>
        <span class="">&nbsp;</span>
        <span class="whitecontent">firstname=</span>
        <span class="contenttext">"james"</span>
        <span class="propcss">;</span><br>


        <span class="propcss">console.log(</span>
        <span class="contenttext">firstname</span>
        <span class="propcss">);</span>
    </p>

    <p class="">
        <span style="color: gray;">// use of let</span><br>
        <span class="propcss">let</span>
        <span class="">&nbsp;</span>
        <span class="whitecontent">secondname=</span>
        <span class="contenttext">"jones"</span>
        <span class="propcss">;</span><br>


        <span class="propcss">console.log(</span>
        <span class="contenttext">secondname</span>
        <span class="propcss">);</span>
    </p>

    <p class="">
        <span style="color: gray;">// use of const</span><br>
        <span class="propcss">const</span>
        <span class="">&nbsp;</span>
        <span class="whitecontent">contry=</span>
        <span class="contenttext">"India"</span>
        <span class="propcss">;</span><br>


        <span class="propcss">console.log(</span>
        <span class="contenttext">contry</span>
        <span class="propcss">);</span>
    </p>

    </div>
    </div>

    <p>Console output:</p>
    <div class="outputbox">
    <p class="pcss">james</p>
    <p class="pcss">jones</p>
    <p class="pcss">India</p>
    </div>

{% comment %} ////////////////////////////////////////////// {% endcomment %}
    <h3 class="h2css mt-5"> Use of variable in line</h3>
    <div class="colorplate my-4">
    <div class="tttt tttt2 p-3">

    <p class="">
        <span style="color: gray">//use of line comment</span><br>
        <span class="propcss">var</span>
        <span class="">&nbsp;</span>
        <span class="whitecontent">hello=</span>
        <span class="contenttext">"Awesome"</span>
        <span class="propcss">;</span><br>


        <span class="propcss">console.log(</span>
        <span class="contenttext">"Hello! welcome to <span class="propcss" >${</span>hello<span class="propcss" >}</span> Imagenary."</span>
        <span class="propcss">);</span>
    </p>


    </div>
    </div>

    <p>Console output:</p>
    <div class="outputbox my-3">
    <p class="pcss">Hello! welcome to Awesome Imagenary.</p>
    </div>


    </div>

    <div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">

    </div>
</div>


{% endblock contentb %}

