{% extends 'htmlcontent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        
{% endblock seotag %}

{% block contentb %}


<div class="row">
<div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">


<div class="my-5">
                            <h1 class="display-5 my-5">Comments</h1>
                            <p class="pcss">Use of Comments long data understanding.and without effecting user interface.for example:<br/> &lt;!---This is type of comments formate--&gt;</p>
                            
                        </div>
                        <div class="Ordered List">
                            <h2 class="h2css">Create comments</h2>
                        </div>

                        <div class="my-5">
                            <h2 class="h2css">For example:</h2>
                        </div>
                        
                        {% comment %} {/* window start  */} {% endcomment %}
                        <div class="colorplate  p-3">
                            <div class="tttt">
                            <p class="my-1"><span class="textcolorwhite">&lt;</span><span class="doctype">!DOCTYPE</span> <span class="htmlhd">&nbsp;&nbsp;&nbsp;html</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="textcolorwhite">&lt;</span><span class="variable">html</span><span class="content"> lang</span><span class="contenttext">="en"</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            {% comment %} {/* head start */} {% endcomment %}
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">body</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            
                            <p class="my-1" ><span class="gray17">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="gray17">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="gray17">&lt;</span><span class="gray17">!-------------------</span><span class="gray17"></span><span class="gray17">This is Awesome heading line!!!</span><span class="gray17"></span><span class="gray17">----------------------</span><span class="gray17">&gt;</span>
                            </p>

                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">p</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Hello Awesome!!!</span><span class="textcolorwhite">&lt;</span><span class="variable">/p</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">p</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Hello Awesome!!!</span><span class="textcolorwhite">&lt;</span><span class="variable">/p</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">p</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Hello Awesome!!!</span><span class="textcolorwhite">&lt;</span><span class="variable">/p</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">p</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Hello Awesome!!!</span><span class="textcolorwhite">&lt;</span><span class="variable">/p</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">p</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Hello Awesome!!!</span><span class="textcolorwhite">&lt;</span><span class="variable">/p</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            
                            <p class="my-1">   <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/body</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            {% comment %} {/* head end */} {% endcomment %}
                            <p class="my-1 nbspcss1"><span class="textcolorwhite">&lt;</span><span class="variable">/html</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            </div>

                        </div>
                        {% comment %} {/* window end */} {% endcomment %}

                        <h2 class="h2css my-5">
                            Output:
                        </h2>   

                        <div class="outputbox">

                      
                           
                        <p>Hello Awesome!!!</p>

                        <p>Hello Awesome!!!</p>

                        <p>Hello Awesome!!!</p>

                        <p>Hello Awesome!!!</p>

                        <p>Hello Awesome!!!</p>

                            </div>


                            {% comment %} {/* start tag */} {% endcomment %}
                            <div class="my-5 py-3"></div>
                            {% comment %} {/* end tag */} {% endcomment %}
</div>
<div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">
</div>
</div>



{% endblock contentb %}

