{% extends 'htmlcontent.html' %}


{% block seotag %}
                        <title>Heading Tag | HackingWorld.com</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Use by heading h1 to h6 tags ."/>
                        <meta name="keywords" content="HTML, CSS, JavaScript, php, python, c"/>
                        <meta name="author" content="Ankit"/>
                        <link rel="icon" href="/img/hacker.jpg"/>
{% endblock seotag %}


{% block contentb %}
<div class="row ">
<div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">



<div class="my-5">
                            {% comment %} {/* <h1 class="my-5">Getting started with HTML</h1> */} {% endcomment %}
                            <h2>Heading tag</h2>
                            <p class="pcss">Use by heading h1 to h6 tags .</p>
                            
                        </div>
                        
                        <div class="my-5">
                            <h2 class="mt-3">Defining a heading:</h2>
                            <p class="pcss">The &lt;h1&gt;Heading&lt;h1&gt;</p>
                            <p class="pcss">The &lt;h2&gt;Heading&lt;h2&gt;</p>
                            <p class="pcss">The &lt;h3&gt;Heading&lt;h3&gt;</p>
                            <p class="pcss">The &lt;h4&gt;Heading&lt;h4&gt;</p>
                            <p class="pcss">The &lt;h5&gt;Heading&lt;h5&gt;</p>
                            <p class="pcss">The &lt;h6&gt;Heading&lt;h6&gt;</p>
                        </div>
                        <div class="my-5"> 
                            <h2>For Example </h2>
                            <p class="pcss">The &lt;h1&gt;Title of paragraph&lt;h1&gt;</p>
                            <p class="pcss">The &lt;p&gt;paragraph&lt;p&gt;</p>
                        </div>

                        {% comment %} {/* window start  */} {% endcomment %}
                        <div class="colorplate  p-3">
                            <div class="tttt">
                            <p class="my-1"><span class="textcolorwhite">&lt;</span><span class="doctype">!DOCTYPE</span> <span class="htmlhd">&nbsp;&nbsp;&nbsp;html</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="textcolorwhite">&lt;</span><span class="variable">html</span><span class="content"> lang</span><span class="contenttext">="en"</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            {% comment %} {/* head start */} {% endcomment %}
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">body</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">h1</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Frist text</span><span class="textcolorwhite">&lt;</span><span class="variable">/h1</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">h2</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Frist text</span><span class="textcolorwhite">&lt;</span><span class="variable">/h2</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">h3</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Frist text</span><span class="textcolorwhite">&lt;</span><span class="variable">/h3</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">h4</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Frist text</span><span class="textcolorwhite">&lt;</span><span class="variable">/h4</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">h5</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Frist text</span><span class="textcolorwhite">&lt;</span><span class="variable">/h5</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">h6</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Frist text</span><span class="textcolorwhite">&lt;</span><span class="variable">/h6</span><span class="textcolorwhite">&gt;</span>
                            </p>
                           
                            
                            <p class="my-1">   <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/body</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            {% comment %} {/* head end */} {% endcomment %}
                            <p class="my-1 nbspcss1"><span class="textcolorwhite">&lt;</span><span class="variable">/html</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            </div>

                        </div>
                        <div class="my-5">
                            <h2 class="h2css">Output: </h2>
                        </div>
                        <div class="outputbox">
                        <h1>Frist text</h1>

                        <h2>Frist text</h2>

                        <h3>Frist text</h3>

                        <h4>Frist text</h4>

                        <h5>Frist text</h5>

                        <h6>Frist text</h6>
                        </div>
                        {% comment %} {/* window end */} {% endcomment %}
                        
                            {% comment %} {/* start tag */} {% endcomment %}
                            <div class="my-5 py-3"></div>
                            {% comment %} {/* end tag */} {% endcomment %}
</div>
<div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">
</div>
</div>


{% endblock contentb %}

