{% extends 'htmlcontent.html' %}


{% block seotag %}
                        <title>Paragraphs in HTML5 | HackingWorld.com</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="<p>This is paragraph.</p><p>This is another paragraph.</p>"/>
                        
{% endblock seotag %}


{% block contentb %}
<div class="row ">
<div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">

<div class="my-5">
                            {% comment %} {/* <h1 class="my-5">Getting started with HTML</h1> */} {% endcomment %}
                            <h2>Paragraphs</h2>
                            
                        </div>
                        <div class="HTML Paragraphs">
                            <p class="pcss">&lt;p&gt;This is paragraph.&lt;/p&gt;</p>
                            <p class="pcss">&lt;p&gt;This is another paragraph.&lt;/p&gt;</p>
                        </div>
                        <div class="my-5"> 
                            <h2>For Example </h2>
                        </div>
                        {% comment %} {/* window start  */} {% endcomment %}
                        <div class="colorplate  p-3">
                            <div class="tttt">
                            <p class="my-1"><span class="textcolorwhite">&lt;</span><span class="doctype">!DOCTYPE</span> <span class="htmlhd">&nbsp;&nbsp;&nbsp;html</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="textcolorwhite">&lt;</span><span class="variable">html</span><span class="content"> lang</span><span class="contenttext">="en"</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            {% comment %} {/* head start */} {% endcomment %}
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">body</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">p</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Frist text</span><span class="textcolorwhite">&lt;</span><span class="variable">/p</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">p</span><span class="textcolorwhite">&gt;</span><span class="textcontent">This is second paragraph</span><span class="textcolorwhite">&lt;</span><span class="variable">/p</span><span class="textcolorwhite">&gt;</span>
                            </p>
                           
                            
                            <p class="my-1">   <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/body</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            {% comment %} {/* head end */} {% endcomment %}
                            <p class="my-1 nbspcss1"><span class="textcolorwhite">&lt;</span><span class="variable">/html</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            </div>

                        </div>
                        {% comment %} {/* window end */} {% endcomment %}
                        <div class="my-5">
                            <h2 class="h2css">Output: </h2>
                        </div>
                        <div class="outputbox">
                            <p>Frist text</p>

                            <p>This is second paragraph</p>
                        </div>
                            {% comment %} {/* start tag */} {% endcomment %}
                            <div class="my-5 py-3"></div>
                            {% comment %} {/* end tag */} {% endcomment %}

</div>
<div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">
</div>
</div>


{% endblock contentb %}

