{% extends 'htmlcontent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        <meta name="keywords" content="HTML, CSS, JavaScript, php, python, c"/>
                        <meta name="author" content="Ankit"/>
                        <link rel="icon" href="/img/hacker.jpg"/>
{% endblock seotag %}


{% block contentb %}

<div class="row ">
<div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">


<div class="my-5">
                            <h1 class="display-5 my-5">Tables</h1>
                            
                        </div>
                        <div class="Ordered List">
                            <h2 class="h2css">Simple Table</h2>
                        </div>

                        <div class="my-5">
                            <h2 class="h2css">For example</h2>
                        </div>
                        
                        {% comment %} {/* window start  */} {% endcomment %}
                        <div class="colorplate  p-3">
                            <div class="tttt">
                            <p class="my-1"><span class="textcolorwhite">&lt;</span><span class="doctype">!DOCTYPE</span> <span class="htmlhd">&nbsp;&nbsp;&nbsp;html</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="textcolorwhite">&lt;</span><span class="variable">html</span><span class="content"> lang</span><span class="contenttext">="en"</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            {% comment %} {/* head start */} {% endcomment %}
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">body</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            

                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">table</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">tr</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">th</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Heading 1/Column 1</span><span class="textcolorwhite">&lt;</span><span class="variable">/th</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">th</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Heading 2/Column 2</span><span class="textcolorwhite">&lt;</span><span class="variable">/th</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/tr</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">tr</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">td</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Heading 1/Column 1</span><span class="textcolorwhite">&lt;</span><span class="variable">/td</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">td</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Heading 2/Column 2</span><span class="textcolorwhite">&lt;</span><span class="variable">/td</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/tr</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">tr</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">td</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Heading 1/Column 1</span><span class="textcolorwhite">&lt;</span><span class="variable">/td</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">td</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Heading 2/Column 2</span><span class="textcolorwhite">&lt;</span><span class="variable">/td</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/tr</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            
                            
                            <p class="my-1">   <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/table</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            
                            <p class="my-1">   <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/body</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            {% comment %} {/* head end */} {% endcomment %}
                            <p class="my-1 nbspcss1"><span class="textcolorwhite">&lt;</span><span class="variable">/html</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            </div>

                        </div>
                        {% comment %} {/* window end */} {% endcomment %}

                        <h2 class="h2css my-5">
                            Output:
                        </h2>   

                        <div class="outputbox">

                      
                           
                            <table>

                                    <tr>

                                        <th>Heading 1/Column 1</th>

                                        <th>Heading 2/Column 2</th>

                                    </tr>

                                    <tr>

                                        <td>Heading 1/Column 1</td>

                                        <td>Heading 2/Column 2</td>

                                    </tr>

                                    <tr>

                                        <td>Heading 1/Column 1</td>

                                        <td>Heading 2/Column 2</td>

                                    </tr>

                                </table>

                            </div>


                        
                            <div class="my-5">
                            <h2 class="h2css">Spanning columns or rows</h2>
                        </div>
                        
                        {% comment %} {/* window start  */} {% endcomment %}
                        <div class="colorplate  p-3">
                            <div class="tttt tttt2">
                            <p class="my-1"><span class="textcolorwhite">&lt;</span><span class="doctype">!DOCTYPE</span> <span class="htmlhd">&nbsp;&nbsp;&nbsp;html</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="textcolorwhite">&lt;</span><span class="variable">html</span><span class="content"> lang</span><span class="contenttext">="en"</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            {/* head start */}
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">body</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            

                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">table</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">tr</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">td</span><span class="textcolorwhite">&gt;</span><span class="textcontent">row 1 col 1</span><span class="textcolorwhite">&lt;</span><span class="variable">/td</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">td</span><span class="textcolorwhite">&gt;</span><span class="textcontent">row 1 col 2</span><span class="textcolorwhite">&lt;</span><span class="variable">/td</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">td</span><span class="textcolorwhite">&gt;</span><span class="textcontent">row 1 col 3</span><span class="textcolorwhite">&lt;</span><span class="variable">/td</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/tr</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            

                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">tr</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">td</span><span class="content">&nbsp;colspan</span><span class="contenttext">="3"</span><span class="textcolorwhite">&gt;</span><span class="textcontent">These are convert second row and all are three columns</span><span class="textcolorwhite">&lt;</span><span class="variable">/td</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            

                            
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/tr</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">tr</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">td</span><span class="content">&nbsp;rowspan=</span><span class="contenttext">"2"</span><span class="textcolorwhite">&gt;</span><span class="textcontent">This cell spans two rows</span><span class="textcolorwhite">&lt;</span><span class="variable">/td</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">td</span><span class="textcolorwhite">&gt;</span><span class="textcontent">row 3 col 2</span><span class="textcolorwhite">&lt;</span><span class="variable">/td</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">td</span><span class="textcolorwhite">&gt;</span><span class="textcontent">row 3 col 3</span><span class="textcolorwhite">&lt;</span><span class="variable">/td</span><span class="textcolorwhite">&gt;</span>
                            </p>


                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/tr</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">tr</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">td</span><span class="textcolorwhite">&gt;</span><span class="textcontent">row 4 col 2</span><span class="textcolorwhite">&lt;</span><span class="variable">/td</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">td</span><span class="textcolorwhite">&gt;</span><span class="textcontent">row 4 col 2</span><span class="textcolorwhite">&lt;</span><span class="variable">/td</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/tr</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            
                            
                            <p class="my-1">   <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/table</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            
                            <p class="my-1">   <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/body</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            {/* head end */}
                            <p class="my-1 nbspcss1"><span class="textcolorwhite">&lt;</span><span class="variable">/html</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            </div>

                        </div>
                        {% comment %} {/* window end */} {% endcomment %}

                        <h2 class="h2css my-5">
                            Output:
                        </h2>   

                        <div class="outputbox">

                      
                           
                        <table>

                            <tr>
<td>row 1 col 1</td>
<td>row 1 col 2</td>

                                <td>row 1 col 3</td>

                            </tr>

                            <tr>

                                <td colspan="3">These are convert second row and all are three columns</td>

                            </tr>

                            <tr>

                                <td rowspan="2">This cell spans two rows</td>

                                <td>row 3 col 2</td>

                                <td>row 3 col 3</td>

                            </tr>

                            <tr>

                                <td>row 4 col 2</td>

                                <td>row 4 col 2</td>

                            </tr>

                        </table>

                            </div>

                        
                            {% comment %} {/* start tag */} {% endcomment %}
                            <div class="my-5 py-3"></div>
                            {% comment %} {/* end tag */} {% endcomment %}
                        

</div>
<div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">
</div>
</div>


{% endblock contentb %}

