{% extends 'htmlcontent.html' %}


{% block seotag %}
                        <title>Text Formatting in HTML | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Bold, Italic, Underline Text Formatting <p>This is use for <u>hight light content </u> hightlight </p>"/>
                        <meta name="keywords" content="HTML, CSS, JavaScript, php, python, c"/>
                        <meta name="author" content="Ankit"/>
                        <link rel="icon" href="/img/hacker.jpg"/>
{% endblock seotag %}


{% block contentb %}
<div class="row">
<div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">


<div class="">
                            <h1 class="display-5 my-5">Text Formatting</h1>
                            <h2>Bold, Italic, Underline Text Formatting</h2>
                        </div>
                        <div class="HTML Paragraphs">
                            <p class="pcss">&lt;p&gt;This is use for &lt;u&gt;hight light content &lt;/u&gt; hightlight &lt;/p&gt;</p>
                        </div>
                        <div class="my-5"> 
                            <h2>For Example </h2>
                        </div>
                        {% comment %} {/* window start  */} {% endcomment %}
                        <div class="colorplate  p-3">
                            <div class="tttt" id="tttt">
                            <p class="my-1"><span class="textcolorwhite">&lt;</span><span class="doctype">!DOCTYPE</span> <span class="htmlhd">&nbsp;&nbsp;&nbsp;html</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="textcolorwhite">&lt;</span><span class="variable">html</span><span class="content"> lang</span><span class="contenttext">="en"</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            {/* head start */}
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">body</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">b</span><span class="textcolorwhite">&gt;</span><span class="textcontent">bold text formate</span><span class="textcolorwhite">&lt;</span><span class="variable">/b</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">br/</span><span class="textcolorwhite">&gt;</span>
                             </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">i</span><span class="textcolorwhite">&gt;</span><span class="textcontent">This is Italic text Formatting</span><span class="textcolorwhite">&lt;</span><span class="variable">/i</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">br/</span><span class="textcolorwhite">&gt;</span>
                             </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">u</span><span class="textcolorwhite">&gt;</span><span class="textcontent">This is underline text formatting</span><span class="textcolorwhite">&lt;</span><span class="variable">/u</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">br/</span><span class="textcolorwhite">&gt;</span>
                             </p>
                           
                            
                            <p class="my-1">   <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/body</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            {% comment %} {/* head end */} {% endcomment %}
                            <p class="my-1 nbspcss1"><span class="textcolorwhite">&lt;</span><span class="variable">/html</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            </div>

                        </div>
                        {% comment %} {/* window end */} {% endcomment %}
                        <div class="my-5">
                            <h2 class="h2css">Output: </h2>
                        </div>
                        <div class="outputbox">
                        <b>bold text formate</b><br/>

                        <i>This is Italic text Formatting</i><br/>

                        <u>This is underline text formatting</u><br/>
                        </div>
                        <div class="my-5"> 
                            <h2> Bold, Italic, and Underline </h2>
                            <h4>Bold</h4>
                            <p class="pcss">&lt;strong&gt;Bold Text Here&lt;/strong&gt;</p>
                            <p class="pcss">or</p>
                            <p class="pcss">&lt;b&gt;Bold Text Here&lt;/b&gt;</p>
                            <h4>Italic</h4>
                            <p class="pcss">&lt;em&gt;Bold Text Here&lt;/em&gt;</p>
                            <p class="pcss">or</p>
                            <p class="pcss">&lt;i&gt;Bold Text Here&lt;/i&gt;</p>
                            <h4>Underlined text</h4>
                            <p class="pcss">&lt;p&gt;Hello!&lt;u&gt;this main line&lt;/u&gt;world&lt;/p&gt;</p>
                        </div>
                        <div class="my-5"> 
                            <h2>For Example </h2>
                            <p class="pcss"></p>
                        </div>
                        {% comment %} {/* window start  */} {% endcomment %}
                        <div class="colorplate  p-3">
                            <div class="tttt tttt2" >
                            <p class="my-1"><span class="textcolorwhite">&lt;</span><span class="doctype">!DOCTYPE</span> <span class="htmlhd">&nbsp;&nbsp;&nbsp;html</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="textcolorwhite">&lt;</span><span class="variable">html</span><span class="content"> lang</span><span class="contenttext">="en"</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            {% comment %} {/* head start */} {% endcomment %}
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">body</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">strong</span><span class="textcolorwhite">&gt;</span><span class="textcontent">bold text formate</span><span class="textcolorwhite">&lt;</span><span class="variable">/strong</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">em</span><span class="textcolorwhite">&gt;</span><span class="textcontent">This is Italic text Formatting</span><span class="textcolorwhite">&lt;</span><span class="variable">/em</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">u</span><span class="textcolorwhite">&gt;</span><span class="textcontent">This is underline text formatting</span><span class="textcolorwhite">&lt;</span><span class="variable">/u</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1">   <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/body</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            {% comment %} {/* head end */} {% endcomment %}
                            <p class="my-1 nbspcss1"><span class="textcolorwhite">&lt;</span><span class="variable">/html</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            </div>

                        </div>
                        {% comment %} {/* window end */} {% endcomment %}
                            {% comment %} {/* start tag */} {% endcomment %}
                            <div class="my-5 py-3"></div>
                            {% comment %} {/* end tag */} {% endcomment %}
</div>
<div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">
</div>
</div>




{% endblock contentb %}

