{% extends 'base.html' %}


{% block title %}
Coding
{% endblock title %}


{% block body %}
<div class="container my-5 mx-auto">
     <div class="my-3">
      <h1 class="display- text-center adjustttext" style=""><span class="primary" style="color: ;">P</span>rogramming<span style="color: #;" ></span></h1>
      <img class="mx-auto adjustcontent" style="" src="/static/profile/underlinpng.png">
    </div>

        <div class="row">
            <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="">
                    <div class="mx-auto px-auto my-3 card card1  text-center" >
                        <div class="py-5 my-3">
                            <i class="fa-10x fab fa-html5 "></i>
                            <div class="card-body text-center">
                                <h5 class="card-title">HTML5</h5>
                                {% comment %} style="color: #0dcaf0;" {% endcomment %}
                                <a href="Introduction_of_HTML" class="btn btn-outline-info"   data-bs-toggle="tooltip" data-bs-placement="top" title="HTML5 code"  target="_blank"  target="_blank">Get start</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="">
                    <div class="mx-auto px-auto my-3 card card1 text-center" >
                        <div class="py-5 my-3">
                            <i class="fa-10x fab fa-css3 textd-danger"></i>
                            <div class="card-body text-center">
                                <h5 class="card-title ">CSS3</h5>
                                <a href="Introduction_of_CSS" class="btn btn-outline-info"   data-bs-toggle="tooltip" data-bs-placement="top" title="CSS3 animation "  target="_blank"  target="_blank" >Get start</a> 
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="">
                    <div class="mx-auto px-auto my-3 card card1 text-center" >
                        <div class="py-5 my-3">
                            <i class="fa-10x fab fa-js text-dangerd"></i>
                            <div class="card-body text-center">
                            <h5 class="card-title ">JAVASCRIPT</h5>
                            <a href="Introduction_of_JAVASCRIPT" class="btn btn-outline-info"   data-bs-toggle="tooltip" data-bs-placement="top" title="JAVASCRIPT  code"  target="_blank"  target="_blank">Get start</a> 
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="">
                    <div class="mx-auto px-auto my-3 card card1 text-center" >
                        <div class="py-5 my-3">
                            <i class="fa-10x fab fa-python text-dsanger"  ></i>
                            <div class="card-body text-center">
                                <h5 class="card-title">PYTHON</h5>
                                <a href="variablepy" class="btn btn-outline-info"   data-bs-toggle="tooltip" data-bs-placement="top" title="python Code"  target="_blank"  target="_blank">Get start</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="">
                    <div class="mx-auto px-auto my-3 card card1 text-center" >
                        <div class="py-5 my-3">
                            <i class="fa-10x fab fa-php text-dangser" ></i>
                            <div class="card-body text-center">
                                <h5 class="card-title">PHP</h5>
                                <a href="Introduction_of_PHP" class="btn btn-outline-info"   data-bs-toggle="tooltip" data-bs-placement="top" title="PHP"  target="_blank"  target="_blank">Get start</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="">
                    <div class="mx-auto px-auto my-3 card card1 text-center" >
                        <div class="py-5 my-3">
                            <i class="fa-10x fab fa-cuttlefish text-dangder"  ></i>
                            <div class="card-body text-center">
                                <h5 class="card-title">C</h5>
                                <a href="Introduction_of_C" class="btn btn-outline-info   data-bs-toggle="tooltip" data-bs-placement="top" title="C language"  target="_blank"  target="_blank"">Get start</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="">
                    <div class="mx-auto px-auto my-3 card card1 text-center" >
                        <div class="py-5 my-3">
                            <i class="fa-10x fas fa-database"></i>
                            {% comment %} <i class="fa-10x fab fa-database"  style="color: #0dcaf0;"></i> {% endcomment %}
                            <div class="card-body text-center">
                                <h5 class="card-title">SQL</h5>
                                <a href="SQLintroduction" class="btn btn-outline-info   data-bs-toggle="tooltip" data-bs-placement="top" title="SQL"  target="_blank"  target="_blank"">Get start</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
         
        </div>
      </div>
{% endblock body %}