{% extends 'base.html' %}


{% block title %}
Project
{% endblock title %}


{% block body %}


  {% comment %} start templates {% endcomment %}

  <div class="container my-5 mx-auto">
    <div class="my-3">
      <h1 class="display- text-center adjustttext" style=""><span class="primary" style="color: #;">Projects</span><span style="color: #;" ></span></h1>
      <img class="mx-auto adjustcontent" style="" src="/static/profile/underlinpng.png">
    </div>

    
    <div class="row d-flex justify-content-space-center">
      <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12 my-5   d-flex justify-content-center align-center">
        <div class="card card2" style="width: 16rem;">
          <img src="/static/7.png"  class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">MusicProject in JavaScript</h5>
            <a href="/static/MusicPlay.zip" Download class="btn btn-primary">Download</a>
          </div>
        </div>
      </div>

      <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12 my-5   d-flex justify-content-center align-center">
        <div class="card card2" style="width: 16rem;">
          <img src="/static/11.png"  class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">Card title</h5>
            <a href="/static/webdata.zip" Download class="btn btn-primary">Download</a>
          </div>
        </div>
      </div>

      <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12 my-5  d-flex justify-content-center align-center">
        <div class="card card2" style="width: 16rem;">
          <img src="/static/6.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">Card title</h5>
            <a href="#" class="btn btn-primary">Download</a>
          </div>
        </div>
      </div>
    </div>
     <div class="row d-flex justify-content-space-center">
      <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12 my-5   d-flex justify-content-center align-center">
        <div class="card card2" style="width: 16rem;">
          <img src="/static/22.png"  class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">TextEffectAnimation</h5>
            <a href="/static/MusicPlay.zip" Download class="btn btn-primary">Download</a>
          </div>
        </div>
      </div>

      <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12 my-5   d-flex justify-content-center align-center">
        <div class="card card2" style="width: 16rem;">
          <img src="/static/21.jpg"  class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">WebTemplate</h5>
            <a href="/static/webdata.zip" Download class="btn btn-primary">Download</a>
          </div>
        </div>
      </div>

      <div class="col-xxl-4 col-lg-4 col-md-6 col-sm-12 my-5  d-flex justify-content-center align-center">
        <div class="card card2"  style="width: 16rem;">
          <img src="/static/7.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">Card title</h5>
            <a href="#" class="btn btn-primary">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% comment %} 
    {% endcomment %}
   
 
  {% comment %} end templates {% endcomment %}

{% endblock body %}