{% extends 'ccontent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        <meta name="keywords" content="HTML, CSS, JavaScript, php, python, c"/>
                        <meta name="author" content="Ankit"/>
                        <link rel="icon" href="/img/hacker.jpg"/>
{% endblock seotag %}


{% block contentb %}
<div class="row">

    <div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">

        <h1 class="h2css display-6 my-5">Getting started with C Language</h1>

        <h2 class="h2css"> Compile using GCC </h2>
        <p class="pcss"><a href="">GCC</a>(GNU Compiler Collection) is a widely used C compiler.</p> 

        <h2 class="h2css py-3">Compiling and running the program</h2>
        
        <p class="pcss"><u> app.c file is convert to a.exe. with run command run in terminal</u><br>
        <h3>>>>gcc app.c</h3></p>

        <h2 class="h2css pt-4">Editing the program</h2>
        <p class="pcss pb-3">Simple text editor for code are <u>Vim</u>  or <u>gedit</u> or <u>Notepad on windows</u> or <u>Visual Studio code</u> or <u>Sublime Text</u>.</p>

        <h2 class="h2css py-3">Hello World</h2>

        <p class="pcss">hello.c</p>
        <div class="colorplate my-4 p-3">
            <div class="tttt">
                <p>
                    <span class="propdark">#include &lt;stdio.h&gt;</span><br>
                    <span class="propcss">int</span>
                    <span class="content">&nbsp;main(</span><span class="propcss">void</span><span class="content">)</span>
                </p>
                <p>
                    <span class="content">{</span><br>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="propcss">puts</span><span class="content">(</span><span class="contenttext">"Hello World"</span><span class="content">);</span><br>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="propcss">return</span>
                    <span class="content">0;</span><br>
                    <span class="content">}</span>
                </p>
            </div>
        </div>

    </div>

    <div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">

    </div>
</div>
{% endblock contentb %}

