{% extends 'ccontent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        <meta name="keywords" content="HTML, CSS, JavaScript, php, python, c"/>
                        <meta name="author" content="Ankit"/>
                        <link rel="icon" href="/img/hacker.jpg"/>
{% endblock seotag %}


{% block contentb %}
<div class="row">

    <div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">

        <h1 class="h2css display-6 my-5">if else</h1>

        <h2 class="h2css py-3">if else Programming file extension "condition.c"</h2>

        <div class="colorplate my-4 p-3">
            <div class="tttt">
                <p>
                    <span class="propdark">#include &lt;stdio.h&gt;</span><br>
                    <span class="propcss">int</span>
                    <span class="content">&nbsp;main(</span><span class="propcss">void</span><span class="content">)</span>
                </p>
                <p>
                    <span class="content">{</span><br>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="propcss">if</span><span class="content">(</span><span class="contenttext">3<5</span><span class="content">)</span><br>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="content">{</span></br>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="propcss">printf</span><span class="content">("This is first line. 3 is greater than 5.");</span>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="propcss">return</span>
                    <span class="content">0;</span><br>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="content">}</span><span class="propcss">if</span><span class="content">(</span><span class="contenttext">3>5</span><span class="content">)</span><br>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="content">{</span></br>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="propcss">printf</span><span class="content">("This is second line. 5 is greater than 3.");</span>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="propcss">return</span>
                    <span class="content">0;</span><br>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="content">}</span><span class="propcss">else</span><span class="content"><br>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="content">{</span></br>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="propcss">printf</span><span class="content">("This is third line. 3 is not equal to 5");</span>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="propcss">return</span>
                    <span class="content">0;</span><br>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="content">}</span><br>

                    <span class="content">}</span>
                </p>
            </div>
        </div>

    </div>

    <div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">

    </div>
</div>
{% endblock contentb %}

