{% extends 'ccontent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        <meta name="keywords" content="HTML, CSS, JavaScript, php, python, c"/>
                        <meta name="author" content="Ankit"/>
                        <link rel="icon" href="/img/hacker.jpg"/>
{% endblock seotag %}


{% block contentb %}
<div class="row">

    <div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">

        <h1 class="h2css display-6 my-5">Function</h1>
        
        <h2 class="h2css py-3">Function Programming file extension for save file "condition.c"</h2>


        <p class="pcss">hello.c</p>
        <div class="colorplate my-4 p-3">
            <div class="tttt">
                <p>
                    <span class="propdark">#include &lt;stdio.h&gt;</span><br>
                    <span class="propcss">void <span class="content">hellofunction()</span>;</span><br><br>
                    <span class="propcss">int</span><span class="content">&nbsp;main(</span><span class="content">)</span>
               
                    <span class="content">{</span><br>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="propdark">hellofunction(); </span><br/>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    

                    <span class="content">}</span>

                    {% comment %} functionc hellofunction {% endcomment %}

                    <br><span class="propcss">void</span><span class="content">&nbsp;hellofunction(</span><span class="content">)</span>
               
                    <span class="content">{</span><br>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="propcss">printf(<span class="content"> "this is first hellofunction."</span>);</span><br/>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    

                    <span class="content">}</span>
                </p>
            </div>
        </div>

    </div>

    <div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">

    </div>
</div>
{% endblock contentb %}

