
{% extends 'sqlContent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        <meta name="keywords" content="HTML, CSS, JavaScript, php, python, c"/>
                        <meta name="author" content="Ankit"/>
                        <link rel="icon" href="/img/hacker.jpg"/>
{% endblock seotag %}



{% block contentb %}

<div class="row">
<div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">
    
    <h1 class="h1css">create  database command in SQL</h1>
    


    <!-- /////////////////////////////////////start div2a////////////////////////////// -->


    <h2 class="">create database command</h2>
    <div class="colorplate my-5 p-3">
        
        <div class="a3">
            <div class="tttt">
                <div class="propcss">
                 
                MariaDB [ankit]> create database database_name;<br>
                Query OK, 1 row affected (0.002 sec)<br><br>

                MariaDB [ankit]>
                <br>

                </div>
    
            </div>
        </div>
        
    </div>

    <!-- ///////////////////////////////////////////////////////////////////////end -->


				

                        
</div>
<div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">
    
</div>
</div>



{% endblock contentb %}
