
{% extends 'sqlContent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        <meta name="keywords" content="HTML, CSS, JavaScript, php, python, c"/>
                        <meta name="author" content="Ankit"/>
                        <link rel="icon" href="/img/hacker.jpg"/>
{% endblock seotag %}



{% block contentb %}

<div class="row">
<div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">
    
    <h1 class="h1css">drop database command in SQL</h1>
						
    <!-- /////////////////////////////////////start div2a////////////////////////////// -->


    <!-- start -->


    <div class="box_text">
        <p class="pacss">drop database sytax</p>
        <p class="pacssa">drop database &lt; database_name&gt;</p> 
    </div>

    <h2 class="h2css">drop database command</h2>
    <div class="colorplate my-5 p-3">
        
        <div class="tttt">
            <div class="codetexta4">
                <div class="propcss">
                    


MariaDB [booking]> drop database students;<br>
Query OK, 3 rows affected (2.784 sec)<br><br>

MariaDB [booking]> <br>

                </div>
    
            </div>
        </div>
        
    </div>
				

                        
</div>
<div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">
    
    
</div>
</div>



{% endblock contentb %}
