
{% extends 'sqlContent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        <meta name="keywords" content="HTML, CSS, JavaScript, php, python, c"/>
                        <meta name="author" content="Ankit"/>
                        <link rel="icon" href="/img/hacker.jpg"/>
{% endblock seotag %}



{% block contentb %}

<div class="row">
<div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">
    
    <h1 class="h1css">Show database | SQL</h1>



    <!-- /////////////////////////////////////start div2a////////////////////////////// -->


    <!-- /////////////////start box//////////////////////// -->
    
    <h2 class="h2css">Show databases command then enter hit</h2>
    <div class="colorplate my-5 p-3">
        
        <div class="tttt">
            <div class="codetexta4">
                <div class="propcss">
                    

                    
                    MariaDB [(none)]> show databases;<br><br> 
                </div>
    
            </div>
        </div>
        
    </div>



    <!-- /////////////////start box//////////////////////// -->
    
    <h2 class="h2css">show databases</h2>
    <div class="colorplate my-5 p-3">
        
        <div class="tttt2">
            <div class="codetexta4">

                <div class="propcss">
                    <br>
                    MariaDB [(none)]> show databases;<br>
                    +------------------------+<br>
                    | Database               |<br>
                    +------------------------+<br>
                    | ankit                  |<br>
                    | booking                |<br>
                    | curdyoutube            |<br>
                    | div1                   |<br>
                    | emailphp               |<br>
                    | fake                   |<br>
                    | hellol                 |<br>
                    | hellotop               |<br>
                    | heyhey                 |<br>
                    | information_schema     |<br>
                    | mydatabase             |<br>
                    | mysql                  |<br>
                    | new_table_for_students |<br>
                    | performance_schema     |<br>
                    | phpmyadmin             |<br>
                    | students               |<br>
                    | test                   |<br>
                    | what_do                |<br>
                    +------------------------+<br>
                    18 rows in set (0.732 sec)<br><br>

                    MariaDB [(none)]><br>

                     
                </div>
    
            </div>
        </div>
        
    </div>
				

                        
</div>
<div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">
    
    
</div>
</div>



{% endblock contentb %}
