
{% extends 'sqlContent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        <meta name="keywords" content="HTML, CSS, JavaScript, php, python, c"/>
                        <meta name="author" content="Ankit"/>
                        <link rel="icon" href="/img/hacker.jpg"/>
{% endblock seotag %}



{% block contentb %}

<div class="row">
<div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">
    <h1 class="h1css mt-5">Introduction of SQL</h1>
						<div class="boxgap"></div>
						<div class="linecssa"></div>



						<!-- /////////////////////////////////////start div2a////////////////////////////// -->


						<h2 class="h1css mt-4">First command is "xampp_start.exe" then enter hit </h1>
						<div class="colorplate my-5 p-3">
							
							<div class="tttt">
								<div class="codetexta4">
									<div class="propcss">
										

										C:\xampp>xampp_start.exe<br><br> 
									</div>
						
								</div>
							</div>
							
						</div>
						<div class="boxgap"></div> 
						
 <!-- //////////////////////////////////////////////////////////////////////////////////// -->
 
						<div class="boxgap">
							
						</div>
						<h2 class="h2css">second step then now</h2>
						<div class="">
							
							<div class="colorplate my-5 p-3">
								<div class="tttt2">
									<div class="propcss">
										

										C:\xampp>
									</div>
						
								</div>
							</div>
							
						</div>  


						
						<h2 class="h2css">third  step execute then now at xampp_server</h2>
						<div class="a1">
							
							<div class="colorplate my-5 p-3">
								<div class="tttt3">
									<div class="propcss">
										

										C:\xampp>cd mysql<br><br>

										C:\xampp\mysql>cd bin<br><br>

										C:\xampp\mysql\bin>mysql -u root<br>
										Welcome to the MariaDB monitor.  Commands end with ; or \g.<br>
										Your MariaDB connection id is 8<br>
										Server version: 10.4.13-MariaDB mariadb.org binary distribution<br><br>

										Copyright (c) 2000, 2018, Oracle, MariaDB Corporation Ab and others.<br><br>

										Type 'help;' or '\h' for help. Type '\c' to clear the current input statement.<br><br>

										MariaDB [(none)]><br>



									</div>
						
								</div>
							</div>
							
						</div>
						<!-- ///////////////////////////////////////////////////////////////////////end -->
 
				

                        
</div>
<div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">
    
</div>
</div>



{% endblock contentb %}
