{% extends 'csscontent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        
{% endblock seotag %}


{% block contentb %}
<div class="row">

    <div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">
         <div class="my-5">
                            <h6 class="display-6">Textbox animation   </h6>
                        </div>
                        <div class="my3">
                            <h3 class="h3css mt-5"> <u>Using by @keyframes animation</u></h3>
                            <p class="pcss"><p>

                            <div class="colorplate p-3">
                           

                                <div class="tttt">
                                 <p class=""><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                 <span class="textcolorwhite">&lt;</span><span class="variable">style</span><span class="textcolorwhite">&gt;</span>
                                </p>
                                 <p class=""><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                               <span class="propvaritake">.textcenter</span><span class="commacss">{</span><br>
                                

                               
                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="propcss">width</span><span class="commacss">:</span>
                                    <span class="">&nbsp;</span>
                                    <span class="propnumtake">100</span><span class="propvaritake">px</span><span class="commacss">;</span><br>

                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="propcss">height</span><span class="commacss">:</span>
                                    <span class="">&nbsp;</span>
                                    <span class="propnumtake">100</span><span class="propvaritake">px</span><span class="commacss">;</span><br>
                                

                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="propcss">background</span><span class="commacss">:</span>
                                    <span class="">&nbsp;</span>
                                    <span class="propnumtake"></span>
                                    <span class="propvaritake">red</span><span class="commacss">;</span><br>

                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="propcss">position</span><span class="commacss">:</span>
                                    <span class="">&nbsp;</span>
                                    <span class="propnumtake"></span>
                                    <span class="propvaritake">relative</span><span class="commacss">;</span><br>

                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="propcss">animation</span><span class="commacss">:</span>
                                    <span class="">&nbsp;</span>
                                    <span class="propvaritake">mymove</span>
                                    <span class="propvaritake">1s</span>
                                    <span class="propvaritake">infinite</span>
                                    <span class="commacss"></span>
                                    <span class="commacss">;</span><br>
                                

                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="commacss">}</span><br>

                                    
                                 <p class=""><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                               <span class="propcss">@keyframes </span>
                               <span class="content">mymove</span><span class="commacss">{</span><br>


                                 <p class=""><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                               <span class="propcss">0%</span><span class="content"></span><span class="commacss">{</span><br>

                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="propcss">top</span><span class="commacss">:</span>
                                    <span class="">&nbsp;</span>
                                    <span class="propnumtake">0</span><span class="propvaritake">px</span>
                                    <span class="commacss">;</span><br>

                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="propcss">left</span><span class="commacss">:</span>
                                    <span class="">&nbsp;</span><span class="propnumtake">0%</span><span class="commacss">;</span><br>

                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="propcss">background</span><span class="commacss">:</span>
                                    <span class="">&nbsp;</span>
                                    <span class="propvaritake">red</span><span class="commacss">;</span><br>

                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="commacss">}</span><br>


                                    
                                 <p class=""><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                               <span class="propcss">70%</span><span class="content"></span><span class="commacss">{</span><br>
                               <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="propcss">top</span><span class="commacss">:</span><span class="">&nbsp;</span><span class="propnumtake">0</span><span class="propvaritake">px</span><span class="propvaritake"></span><span class="commacss"></span><span class="commacss">;</span><br>
<span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="propcss">left</span><span class="commacss">:</span><span class="">&nbsp;</span><span class="propnumtake">70%</span><span class="propvaritake"></span><span class="propvaritake"></span><span class="commacss"></span><span class="commacss">;</span><br>

<span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="propcss">background</span><span class="commacss">:</span><span class="">&nbsp;</span><span class="propvaritake">green</span><span class="propvaritake"></span><span class="propvaritake"></span><span class="commacss"></span><span class="commacss">;</span><br>
<span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="commacss">}</span><br><span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="commacss">}</span>

    
                                    </span>
                                
                                

                                 <p class="my-1">   
                                <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span  class="variable"><span class="textcolorwhite">&lt;</span>/style<span class="textcolorwhite">&gt;</span></span>
                                
                            </p>
                                 <p class="mt-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">div</span><span class="">&nbsp;</span><span class="content">class=</span><span class="contenttext">"textcenter"</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            
                            <p class="my-0">
                                <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">p</span><span class="">&nbsp;</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Awesome CSS And Text </span><span class="textcolorwhite">&lt;</span><span class="variable">/p</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            
                           
                            <p class="my-1">   
                                <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span  class="variable"><span class="textcolorwhite">&lt;</span>/div<span class="textcolorwhite">&gt;</span></span>
                                
                            </p>
                                </div>
                            </div>

                            
                        </div>

                          <h2 class="h2css my-5">
                            Output:
                        </h2>   

                        <div class="outputbox">

 <style>

     .textcenter{
          width:   100px;
          height:   100px;
          background:   red;
          position:   relative;
          animation:   mymove 3s infinite ;
     }
     @keyframes mymove{
     0%{
          top:   0px ;
          left:  0%;
          background:   red;
     }
     70%{
        top: 0px;
        left: 70%;
        background: green;
    }
    }

    </style>

    <div class="textcenter">

        <p >Awesome CSS And Text </p>

    </div>

                        </div>




                        
                        
                        {% comment %}  {% endcomment %}
                        <div class="my-5"></div>

    </div>
    {% comment %}  {% endcomment %}
    <div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">

    </div>
</div>
                       
{% endblock contentb %}

