{% extends 'csscontent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        
{% endblock seotag %}


{% block contentb %}
<div class="row">

    <div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">
         <div class="my-5">
                            <h6 class="display-6">Pseudo-classes </h6>
                        </div>
                        <div class="my3">
                            <h3 class="h3css mt-5"> <u>Pseudo-classes</u></h3>
                            <p class="pcss"><strong>pseudo-classes</strong> are keywords which allow selection based on information that lies outside of the document tree<p>

                            <div class="colorplate p-3">
                           

                                <div class="tttt">
                                 <p class="mt-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">style</span><span class="textcolorwhite">&gt;</span>
                                </p>
                                <p class=""><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="contenttext">.textcolor</span><span class="propvaritake">:nth-child(3)<span class="whitecontent">{</span><br><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="propcss">color</span><span class="whitecontent">:</span><span class="propvaritake">red</span><span class="whitecontent">;</span><br> <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class=""></span><span class="whitecontent">}</span>
                                    
                                </p>
                                
                                

                                <p class="my-1">   <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/style</span><span class="textcolorwhite">&gt;</span>
                                </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">div</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">h1</span><span class="">&nbsp;</span><span class="content">class=</span><span class="contenttext">"textcolor"</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Awesome CSS And Text </span><span class="textcolorwhite">&lt;</span><span class="variable">/h1</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">p</span><span class="">&nbsp;</span><span class="content">class=</span><span class="contenttext">"textcolor"</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Awesome CSS And Text </span><span class="textcolorwhite">&lt;</span><span class="variable">/p</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">p</span><span class="">&nbsp;</span><span class="content">class=</span><span class="contenttext">"textcolor"</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Awesome CSS And Text </span><span class="textcolorwhite">&lt;</span><span class="variable">/p</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-0">
                                <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">p</span><span class="">&nbsp;</span><span class="content">class=</span><span class="contenttext">"textcolor"</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Awesome CSS And Text </span><span class="textcolorwhite">&lt;</span><span class="variable">/p</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            
                           
                            <p class="my-1">   
                                <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span  class="variable"><span class="textcolorwhite">&lt;</span>/div<span class="textcolorwhite">&gt;</span></span>
                                
                            </p>
                                </div>
                            </div>

                            
                        </div>



                        
                        


                        <div class="my-5 "></div>
                        
                        <h2 class="h2css my-5">
                            Output:
                        </h2>   

                        <div class="outputbox">

                          <style>

    .hellott:nth-child(3){
        color:red;
    }

    </style>

    <div>

        <h1 class="hellott">Awesome CSS And Text </h1>

        <p class="hellott">Awesome CSS And Text </p>

        <p class="hellott">Awesome CSS And Text </p>

        <p class="hellott">Awesome CSS And Text </p>

    </div>


                        </div>



                        <div class="my-5">
                            <h6 class="display-6"> </h6>
                        </div>
                        <div class="my3">
                            <h3 class="h3css mt-5"> <u>use of :nth-child(n+3)</u></h3>
                            <p class='pcss'>Include of after 3 child all elments</p>

                            <div class="colorplate p-3">
                           

                                <div class="tttt">
                                 <p class="mt-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">style</span><span class="textcolorwhite">&gt;</span>
                                </p>
                                <p class=""><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="contenttext">.textcolor</span><span class="propvaritake">:nth-child(n+3)<span class="whitecontent">{</span><br><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="propcss">color</span><span class="whitecontent">:</span><span class="propvaritake">red</span><span class="whitecontent">;</span><br> <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class=""></span><span class="whitecontent">}</span>
                                    
                                </p>
                                
                                

                                <p class="my-1">   <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/style</span><span class="textcolorwhite">&gt;</span>
                                </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">div</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">h1</span><span class="">&nbsp;</span><span class="content">class=</span><span class="contenttext">"textcolor"</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Awesome CSS And Text </span><span class="textcolorwhite">&lt;</span><span class="variable">/h1</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">p</span><span class="">&nbsp;</span><span class="content">class=</span><span class="contenttext">"textcolor"</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Awesome CSS And Text </span><span class="textcolorwhite">&lt;</span><span class="variable">/p</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">p</span><span class="">&nbsp;</span><span class="content">class=</span><span class="contenttext">"textcolor"</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Awesome CSS And Text </span><span class="textcolorwhite">&lt;</span><span class="variable">/p</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-0">
                                <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">p</span><span class="">&nbsp;</span><span class="content">class=</span><span class="contenttext">"textcolor"</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Awesome CSS And Text </span><span class="textcolorwhite">&lt;</span><span class="variable">/p</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            
                           
                            <p class="my-1">   
                                <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span  class="variable"><span class="textcolorwhite">&lt;</span>/div<span class="textcolorwhite">&gt;</span></span>
                                
                            </p>
                                </div>
                            </div>

                            
                        </div>



                        
                        


                        <div class="my-5 "></div>
                        
                        <h2 class="h2css my-5">
                            Output:
                        </h2>   

                        <div class="outputbox">

                           <style>

    .textcolor:nth-child(n+3){
        color:red;
    }

    </style>

    <div>

        <h1 class="textcolor">Awesome CSS And Text </h1>

        <p class="textcolor">Awesome CSS And Text </p>

        <p class="textcolor">Awesome CSS And Text </p>

        <p class="textcolor">Awesome CSS And Text </p>

    </div>

                        </div>
                        {% comment %}  {% endcomment %}
                        <div class="my-5"></div>
    </div>
    {% comment %}  {% endcomment %}
    <div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">

    </div>
</div>
                       

{% endblock contentb %}

