{% extends 'csscontent.html' %}


{% block seotag %}
                        <title> | ProgrammingGeeks</title>
                        <meta charset="UTF-8"/>
                        <meta name="description" content="Anchors  use for URL link or other any WebPage. Specifies the destination address. It can be an absolute or relative URL, or the name of an anchor."/>
                        
{% endblock seotag %}


{% block contentb %}
<div class="row">

    <div class="col-xxl-11 col-lg-11 col-md-12 col-sm-12">
               <div class="my-5">
                            <h6 class="display-6">TextCenter  </h6>
                        </div>
                        <div class="my3">
                            <h3 class="h3css mt-5"> <u>TextCenter using by property of display and place-item.</u></h3>
                            <p class="pcss"><p>

                            <div class="colorplate p-3">
                           

                                <div class="tttt">
                                 <p class=""><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                 <span class="textcolorwhite">&lt;</span><span class="variable">style</span><span class="textcolorwhite">&gt;</span>
                                </p>
                                 <p class=""><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                               <span class="propvaritake">.textcenter</span><span class="commacss">{</span><br>

                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="propcss">display</span><span class="commacss">:</span>
                                    <span class="">&nbsp;</span>
                                    <span class="propnumtake"></span>
                                    <span class="propvaritake">grid</span>
                                    <span class="commacss">;</span><br>

                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="propcss">place-items</span><span class="commacss">:</span>
                                    <span class="">&nbsp;</span>
                                    <span class="propvaritake">center</span>
                                    <span class="commacss"></span>
                                    <span class="propvaritake"></span>
                                    <span class="commacss">;</span><br>

                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="commacss">}</span>

                                        
                                    </span>
                                
                                

                                <p class="my-1">   <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/style</span><span class="textcolorwhite">&gt;</span>
                                </p>
                                 <p class="mt-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">style</span><span class="textcolorwhite">&gt;</span>
                                </p>
                                 <p class="my-1">   
                                <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span  class="variable"><span class="textcolorwhite">&lt;</span>/style<span class="textcolorwhite">&gt;</span></span>
                                
                            </p>
                                 <p class="mt-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">div</span><span class="">&nbsp;</span><span class="content">class=</span><span class="contenttext">"textcenter"</span><span class="textcolorwhite">&gt;</span>
                                </p>
                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">p</span><span class="">&nbsp;</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Awesome CSS And Text </span><span class="textcolorwhite">&lt;</span><span class="variable">/p</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">p</span><span class="">&nbsp;</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Awesome CSS And Text </span><span class="textcolorwhite">&lt;</span><span class="variable">/p</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-0">
                                <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">p</span><span class="">&nbsp;</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Awesome CSS And Text </span><span class="textcolorwhite">&lt;</span><span class="variable">/p</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            
                           
                            <p class="my-1">   
                                <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span  class="variable"><span class="textcolorwhite">&lt;</span>/div<span class="textcolorwhite">&gt;</span></span>
                                
                            </p>
                                </div>
                            </div>

                            
                        </div>

                          <h2 class="h2css my-5">
                            Output:
                        </h2>   

                        <div class="outputbox">


                    <style>

.textcenter{
     display:   grid ;
     place-items:   center ;
}
    </style>

    <style>

    </style>

    <div class="textcenter">

        <p >Awesome CSS And Text </p>

        <p >Awesome CSS And Text </p>

        <p >Awesome CSS And Text </p>

    </div>

                        </div>





                        <div class="my3">
                            <h3 class="h3css mt-5"> <u>TextCenter using by property of display and place-item.</u></h3>
                            <p class="pcss"><p>

                            <div class="colorplate p-3">
                           

                                <div class="tttt">
                                 <p class=""><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                 <span class="textcolorwhite">&lt;</span><span class="variable">style</span><span class="textcolorwhite">&gt;</span>
                                </p>
                                 <p class=""><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                               <span class="propvaritake">.textcenter</span><span class="commacss">{</span><br>

                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="propcss">display</span><span class="commacss">:</span>
                                    <span class="">&nbsp;</span>
                                    <span class="propnumtake"></span>
                                    <span class="propvaritake">flex</span>
                                    <span class="commacss">;</span><br>

                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="propcss">justify-content</span><span class="commacss">:</span>
                                    <span class="">&nbsp;</span>
                                    <span class="propvaritake">center</span>
                                    <span class="commacss"></span>
                                    <span class="propvaritake"></span>
                                    <span class="commacss">;</span><br>

                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="propcss">align-items</span><span class="commacss">:</span>
                                    <span class="">&nbsp;</span>
                                    <span class="propvaritake">center</span>
                                    <span class="commacss"></span>
                                    <span class="propvaritake"></span>
                                    <span class="commacss">;</span><br>

                                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="commacss">}</span>

                                        
                                    </span>
                                
                                

                                <p class="my-1">   <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">/style</span><span class="textcolorwhite">&gt;</span>
                                </p>
                                 <p class="mt-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">style</span><span class="textcolorwhite">&gt;</span>
                                </p>
                                 <p class="my-1">   
                                <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span  class="variable"><span class="textcolorwhite">&lt;</span>/style<span class="textcolorwhite">&gt;</span></span>
                                
                            </p>
                                 <p class="mt-1"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">div</span><span class="">&nbsp;</span><span class="content">class=</span><span class="contenttext">"textcenter"</span><span class="textcolorwhite">&gt;</span>
                                </p>
                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">p</span><span class="">&nbsp;</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Awesome CSS And Text </span><span class="textcolorwhite">&lt;</span><span class="variable">/p</span><span class="textcolorwhite">&gt;</span>
                            </p>

                            <p class="my-0"><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">p</span><span class="">&nbsp;</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Awesome CSS And Text </span><span class="textcolorwhite">&lt;</span><span class="variable">/p</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            <p class="my-0">
                                <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="textcolorwhite">&lt;</span><span class="variable">p</span><span class="">&nbsp;</span><span class="textcolorwhite">&gt;</span><span class="textcontent">Awesome CSS And Text </span><span class="textcolorwhite">&lt;</span><span class="variable">/p</span><span class="textcolorwhite">&gt;</span>
                            </p>
                            
                           
                            <p class="my-1">   
                                <span class="spangap">&nbsp;&nbsp;&nbsp;&nbsp;</span><span  class="variable"><span class="textcolorwhite">&lt;</span>/div<span class="textcolorwhite">&gt;</span></span>
                                
                            </p>
                                </div>
                            </div>

                            
                        </div>



                        
                        


                        <div class="my-5 "></div>
                        
                        <h2 class="h2css my-5">
                            Output:
                        </h2>   

                        <div class="outputbox">

                            <style>

                                .textcenterr{
                                    display:   flex ;
                                    justify-content:   center ;
                                    align-items:   center ;
                                }

                            </style>

                                <div class="textcenterr">

                                    <p >Awesome CSS And Text </p>

                                    <p >Awesome CSS And Text </p>

                                    <p >Awesome CSS And Text </p>

                                </div>

                        </div>



                        
                        
                        {% comment %}  {% endcomment %}
                        <div class="my-5"></div>

    </div>

    <div class="col-xxl-1 col-lg-1 col-md-0 col-sm-0">

    </div>
</div>
                 
{% endblock contentb %}

