/* .pcss{
    font-size: 17px;
    color:#4c5258;
}
.h2css{
    color: rgba(2, 1, 1, 0.959);
    font-size: 25px;
}
.colorplate{
    background-color: #212121!important;
    border-radius: 20px;
}
.doctype{
    color: #1DB9C3;
    
    font-size: 17px;
}
.htmlhd{
    color: #C6D57E;
    font-size: 17px;
}
.textcontent{
    color: #00A19D;
    
    font-size: 17px;
}
.variable{
    color: #1DB9C3;
    font-size: 17px;
}
.content{
    color: #C6D57E;
    
    font-size: 17px;
}
.contenttext{
    color: #B1E693;
    font-size: 17px;
}
.gray17{
    color: gray;
    font-size: 17px;
}
.fortextwhite{
    color: green;
    font-size: 20px;
}
.textcolorwhite{
    font-size: 16px!important;
    color: white;
}
.outputbox{
    padding: 50px 10px;
    border: 1px solid #212121;
}
@media (max-width: 991px) {
    .showhidden{
        display: none;
    }
} */